KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001
KONG_LOG_LEVEL=info
OPENBANK_AUTH_MODE=passthrough
OPENBANK_JWT_ISSUER=http://localhost:8080/realms/openbank
OPENBANK_JWT_AUDIENCE=openbank-services
OPENBANK_JWT_CLAIMS=exp,nbf
