# SPDX-License-Identifier: Apache-2.0
# Copyright (c) OpenBank contributors. Licensed under the Apache License, Version 2.0.
openapi: 3.1.0
info:
  title: Customer Edge API
  version: 1.50.0
  description: >-
    Customer-facing edge proxy (ADR-0065). Single internet-facing entry point for the
    retail customer app. Validates JWTs from the openbank-customers Keycloak realm,
    enforces ownership, and proxies an explicit allow-list of routes to backend services.
    Deny-by-default: any path not listed here returns 404.

    Onboarding (ADR-0069): /onboarding/start is unauthenticated (party creation before
    Keycloak user exists). /onboarding/account requires a valid customer session and
    enforces the KYC gate (party must be ACTIVE) before opening a bank account.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://customer.open-bank.tech/customer/v1
    description: Sandbox

tags:
  - name: Reference
  - name: Accounts
  - name: Term deposits
  - name: Balances
  - name: SCA
  - name: Devices
  - name: Onboarding
  - name: WebAuthn
  - name: Documents
  - name: Preferences
  - name: Engagement
  - name: Feedback
  - name: Cards
  - name: Lending
  - name: Delegation
  - name: Pockets
  - name: Fees
  - name: Interest
  - name: Consents
  - name: Standing Orders
  - name: Disputes
  - name: KYC
  - name: Payment Sessions
  - name: SDD
  - name: SEPA Instant
  - name: SWIFT
  - name: VoP
  - name: Transfers
  - name: Complaints

paths:
  /products:
    get:
      tags: [Products]
      summary: The product catalogue this customer may open from
      description: >-
        Generalises the term-deposit projection to the whole customer-facing catalogue, with the
        same filters and for the same reason: the operator catalogue holds draft, private,
        withdrawn and future-dated products, and none of them may become discoverable merely
        because the edge holds an M2M credential.


        Types are allow-listed to CURRENT, SAVINGS and TERM_DEPOSIT. MORTGAGE, CREDIT_CARD,
        OVERDRAFT and INVESTMENT exist in the catalogue and are deliberately absent — each needs
        its own suitability and disclosure journey, and surfacing one here would let the app offer
        a regulated product with no path to take it.


        Rates are reported in the shape the catalogue prices them and are never derived: a term
        deposit carries `annualRate` plus its own fixed `term`, savings carries `savings` with its
        balance tiers, and a current account carries neither. A product with no rate omits the
        field rather than sending zero — 0 % is a price, "not priced" is not. `fee` IS sent at
        zero, because "no fee, forever" is a current account's whole pitch.


        A catalogue outage answers 503, never an empty list: an empty list reads as "we offer
        nothing", which is a claim about the bank.
      operationId: listProductOffers
      security:
        - customerOidc: [products:read]
      parameters:
        - name: type
          in: query
          required: false
          description: Narrows the list. Rejected with 400 when outside the allow-list.
          schema:
            type: string
            enum: [CURRENT, SAVINGS, TERM_DEPOSIT]
      responses:
        '200':
          description: Discoverable product offers
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductOffer'
        '400':
          description: Unsupported product type
        '503':
          description: Product catalogue unavailable

  /products/term-deposits:
    get:
      tags: [Term deposits]
      summary: List public term-deposit offers available to the signed-in customer
      description: >-
        Projects only ACTIVE, public and currently valid TERM_DEPOSIT products from the operator
        catalogue. The response includes the rate, fixed term, deposit limits, early-withdrawal
        conditions and linked terms so the app can make the product discoverable before asking the
        customer to open it.
      operationId: listTermDepositOffers
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Current public offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermDepositOfferList'
        '502':
          description: Product catalogue unavailable

  /products/term-deposits/{productId}:
    get:
      tags: [Term deposits]
      summary: Read one public term-deposit offer
      operationId: getTermDepositOffer
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: productId
          in: path
          required: true
          schema: {type: string, format: uuid}
      responses:
        '200':
          description: Offer and contractual conditions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TermDepositOffer'
        '404':
          description: No active public term-deposit offer with this ID

  /term-deposits:
    post:
      tags: [Term deposits]
      summary: Open a term-deposit account from a public offer
      description: >-
        Requires an ACTIVE KYC party. The client submits only the catalogue product ID; the edge
        derives TERM_DEPOSIT and the product currency server-side. This creates the dedicated
        account. Initial funding is intentionally a separate normal account-funding flow.
      operationId: openTermDeposit
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: {type: string, minLength: 1, maxLength: 255}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenTermDepositRequest'
      responses:
        '201':
          description: Term-deposit account opened
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Account'}
        '400':
          description: Missing idempotency key or malformed product ID
        '404':
          description: Product is not an active public term-deposit offer, or party is absent
        '422':
          description: KYC not approved

  /incentives/claims:
    post:
      tags: [Engagement]
      summary: Reserve the fixed reward attached to an authenticated campaign treatment
      description: >-
        Party identity comes only from the customer Keycloak JWT. The opaque interaction reference
        is resolved against Campaign Service and supplies the immutable offer reference; the phone
        cannot choose either value. The product must be an active public term-deposit offer.
        Reservation is not redemption: only a later authoritative product outcome may commit it.
      operationId: claimCampaignIncentive
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema: {type: string, minLength: 1, maxLength: 255}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClaimCampaignIncentiveRequest'
      responses:
        '201':
          description: Reward inventory reserved; this is not yet redeemed
          content:
            application/json:
              schema: {$ref: '#/components/schemas/IncentiveReservation'}
        '400': {description: Malformed or foreign interaction reference}
        '404': {description: Product is not an active public term-deposit offer}
        '409': {description: Campaign treatment has no claimable incentive, or reservation conflicts}
        '502': {description: Campaign, catalogue or Incentive Service unavailable}

  /feedback:
    post:
      tags: [Feedback]
      summary: Submit in-app screen feedback, optionally with a screenshot (ADR-0192)
      description: >-
        Screen-scoped product feedback from the app's global feedback rail. The screenshot is
        user-initiated and explicitly confirmed on-device before sending; the edge validates it by
        PNG signature, stores it in object storage under a 90-day lifecycle rule, and publishes only
        METADATA plus the object key to `openbank.feedback.events` — the image never enters the
        event stream or the warehouse. The party is taken from the bearer token, never the body.

        Best-effort by design: a well-formed submission always answers 202, even if the screenshot
        write failed (the event then records the failure and the comment is still delivered).
        Quota: 10 submissions per party per hour, on top of the global per-party request limit.
      operationId: submitFeedback
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackSubmission'
      responses:
        '202':
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackAccepted'
        '400':
          description: Malformed body, unknown category, bad screenId, non-base64 or non-PNG screenshot
        '403':
          description: Token carries no usable party identity
        '413':
          description: Request body too large, or screenshot larger than 2 MB decoded
        '429':
          description: Per-party hourly feedback quota exceeded

  /preferences/theme:
    get:
      tags: [Preferences]
      summary: The customer's stored app-appearance document (ThemeSpec, ADR-0190)
      description: >-
        Per-party ThemeSpec so the customer's look roams across devices. Stored
        edge-locally (Redis, no upstream). The client re-validates every spec with
        its deterministic guardrail before applying it.
      operationId: getThemePreference
      security:
        - customerOidc: []
      responses:
        '200':
          description: Stored ThemeSpec
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeSpec'
        '404':
          description: No theme stored for this party
    put:
      tags: [Preferences]
      summary: Store the customer's ThemeSpec
      operationId: setThemePreference
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeSpec'
      responses:
        '204':
          description: Stored
        '400':
          description: Body is not a JSON object
        '413':
          description: Body exceeds the 8 KiB spec cap

  /banks:
    get:
      tags: [Reference]
      summary: List Czech bank codes (CNB registry)
      description: >-
        Returns the current list of Czech bank codes from the CNB JERR registry.
        The response is served from an in-process cache that is seeded from an embedded
        fallback on startup and refreshed from CNB every 24 hours. No authentication
        required — bank codes are public reference data.
      operationId: listBanks
      security: []
      responses:
        '200':
          description: Array of Czech bank entries sorted by code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankDto'

  /privacy/access-log:
    get:
      tags: [Privacy]
      summary: The caller's own access log (privacy centre)
      operationId: getAccessLog
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Access-log entries for the caller's party (event metadata only)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessLogEntry'

  /directory/lookup:
    post:
      tags: [Directory]
      summary: Match address-book phone hashes against parties who opted into pay-to-phone
      description: >
        Takes SHA-256 hashes of phone numbers the caller already holds and returns the subset
        belonging to parties who opted into being discoverable. Never accepts or returns a
        plaintext phone number, and returns no account, email or address — the payment rail
        resolves the account from the party id server-side. Hashing keeps numbers out of logs;
        it is not a privacy guarantee against the bank, which holds the numbers regardless.
      operationId: directoryLookup
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryLookupRequest'
      responses:
        '200':
          description: The hashes that matched a discoverable party
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryLookupResponse'
        '400':
          description: phoneHashes missing or not an array

  /directory/discoverable:
    put:
      tags: [Directory]
      summary: Turn the caller's own pay-to-phone findability on or off
      operationId: setDiscoverable
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoverableRequest'
      responses:
        '200':
          description: The stored setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverableRequest'
        '400':
          description: discoverable missing or not a boolean

  /directory/payee:
    post:
      tags: [Directory]
      summary: Turn a directory hit into a payable target, without disclosing the payee's account at lookup
      description: >
        Takes the SHA-256 hash of a phone number the caller already holds and returns an opaque
        payment-session token (the same rail nearby-pay uses, ADR-0095) plus a display name and a
        MASKED account. This LOOKUP never yields an account number: the token is resolved back to
        it inside POST /domestic-payments, and SCA is signed against the masked form. Answering
        with an account number would make this a harvester, since phone numbers are enumerable in
        a way account numbers are not.

        Scope: this is a request-side control, not a promise that the account never reaches the
        payer. Once the payment is made, POST /domestic-payments and GET
        /domestic-payments/{paymentId} both return the creditor's account number, bank code and
        name — as a statement does. Do not build on the stronger reading (issue #3890).

        Opt-in is re-checked here rather than trusted from the caller's earlier lookup — someone
        who has since turned findability off stops being payable immediately. "No such number",
        "not discoverable" and "no creditable account" all return the SAME 404 body, so this route
        cannot be used as an existence oracle.
      operationId: directoryPayee
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryPayeeRequest'
      responses:
        '200':
          description: A payment-session token bound to the payee's account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryPayeeResponse'
        '400':
          description: phoneHash missing/malformed, or the hash resolves to the caller themselves
        '404':
          description: No payee for that number — indistinguishable from opted-out or not creditable

  /accounts:
    get:
      tags: [Accounts]
      summary: List the authenticated customer's accounts
      operationId: listAccounts
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Account list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'

  /accounts/{accountId}:
    get:
      tags: [Accounts]
      summary: Get a single account
      operationId: getAccount
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Account detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: Not the owner

  /accounts/{accountId}/goal:
    put:
      tags: [Accounts]
      summary: Set or update the account's savings goal metadata (ADR-0153)
      operationId: updateSavingsGoal
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, targetMinorUnits]
              properties:
                name: {type: string}
                targetMinorUnits: {type: integer, format: int64}
                targetDate: {type: string, format: date}
      responses:
        '200':
          description: Account with updated goal metadata
        '400':
          description: Malformed request or missing/invalid fields
        '403':
          description: Not the owner
    delete:
      tags: [Accounts]
      summary: Clear the account's savings goal metadata
      operationId: clearSavingsGoal
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Account with goal metadata cleared
        '403':
          description: Not the owner

  /accounts/{accountId}/nickname:
    patch:
      tags: [Accounts]
      summary: Set or clear the account's customer-chosen display label
      operationId: renameAccount
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nickname: {type: string, nullable: true}
      responses:
        '200':
          description: Account with updated nickname
        '400':
          description: Malformed request body
        '403':
          description: Not the owner

  /accounts/{accountId}/pockets:
    get:
      tags: [Pockets]
      summary: List the account's currency pockets (multi-currency wallet, ADR-0024)
      operationId: listPockets
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Raw account-service passthrough
          content:
            application/json:
              schema:
                type: object
                properties:
                  pockets:
                    type: array
                    items: {$ref: '#/components/schemas/Pocket'}
        '403':
          description: Not the owner
    post:
      tags: [Pockets]
      summary: Open a new currency pocket on the account
      description: >-
        Opens a pocket in the given currency, provided the account's product-catalog
        multi-currency configuration permits it (checked against the currencies not already
        held as an ACTIVE pocket). The catalog check fails open — an unreachable product-catalog
        does not block opening — but an explicitly unsupported currency is rejected with 422.
      operationId: addPocket
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currencyCode]
              properties:
                currencyCode: {type: string, example: EUR, description: 'ISO 4217, case-insensitive (edge uppercases it)'}
      responses:
        '201':
          description: Pocket opened
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Pocket'}
        '400':
          description: Missing or malformed currencyCode
        '403':
          description: Not the owner
        '422':
          description: Currency not in the account's product-catalog supported set

  /accounts/{accountId}/pockets/supported:
    get:
      tags: [Pockets]
      summary: Currencies the account could still open a pocket in
      description: >-
        Product-catalog's multi-currency-supported set for the account's product, minus
        currencies already held as an ACTIVE pocket. Fails open to the full product set if
        the account's current pockets can't be read; an empty array if the product has no
        multi-currency configuration at all.
      operationId: supportedCurrencies
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Currencies the caller may still open, sorted
          content:
            application/json:
              schema:
                type: object
                properties:
                  currencies: {type: array, items: {type: string}, example: [EUR, USD]}
        '403':
          description: Not the owner

  /accounts/{accountId}/pockets/{currency}:
    delete:
      tags: [Pockets]
      summary: Close a currency pocket — only when its balance is zero
      description: >-
        `currency` is an ISO 4217 code, not an id (edge uppercases and validates it before
        forwarding). Refused with 409 unless the pocket's booked and available balance are
        both zero — closing a funded pocket would strand the money.
      operationId: closePocket
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: currency, in: path, required: true, schema: {type: string}, example: EUR}
      responses:
        '200':
          description: Pocket closed
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Pocket'}
        '400':
          description: currency is not a valid ISO 4217 code
        '403':
          description: Not the owner
        '404':
          description: No account or no such pocket
        '409':
          description: Pocket balance is not zero (pocket_not_empty)

  /accounts/{accountId}/fees:
    get:
      tags: [Fees]
      summary: The fee schedule that applies to the account's product
      description: >-
        Resolves the account's productId and proxies product-catalog's per-product fee
        schedule. Fails soft to an empty array if the product can't be resolved or
        product-catalog is unreachable — never surfaces an upstream error to the app.
      operationId: getAccountFees
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Product fee schedule (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: string}
                    name: {type: string}
                    type: {type: string}
                    amount: {type: number}
                    currency: {type: string}
                    frequency: {type: string}
                    description: {type: string, nullable: true}
                    waivable: {type: boolean}
                    waiveCondition: {type: string, nullable: true}
        '403':
          description: Not the owner

  /accounts/{accountId}/interest:
    get:
      tags: [Interest]
      summary: Effective interest rate and current accrual for the account
      description: >-
        Composed, not a raw proxy: combines interest-service's effective-rate lookup with its
        accrual summary. A non-interest-bearing account, or one with no configured rate,
        returns `{"eligible": false}` rather than an error — this is a fail-soft projection,
        not a passthrough.
      operationId: getAccountInterest
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Interest eligibility and, when eligible, the current accrual
          content:
            application/json:
              schema:
                type: object
                required: [eligible]
                properties:
                  eligible: {type: boolean}
                  annualRatePercent: {type: string, description: 'nominal annual rate × 100, trailing zeros stripped', example: '4'}
                  accruedAmount: {type: string, example: '12.34'}
                  currency: {type: string, example: CZK}
                  periodFrom: {type: string, format: date}
                  periodTo: {type: string, format: date}
        '403':
          description: Not the owner

  /balances/{accountId}:
    get:
      tags: [Balances]
      summary: Get balance for an account
      operationId: getBalance
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Balance detail
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Balance'

  /transactions:
    get:
      tags: [Transactions]
      summary: List transactions for one of the caller's own accounts (ownership-enforced)
      operationId: listTransactions
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: query, required: true, schema: {type: string, format: uuid}}
        - {name: limit, in: query, required: false, schema: {type: integer, default: 20}}
        - {name: cursor, in: query, required: false, schema: {type: string}}
      responses:
        '200':
          description: Transaction page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '403':
          description: Account does not belong to caller

  /statements/{accountId}:
    get:
      tags: [Statements]
      summary: List closed-period statement records for one of the caller's own accounts (ownership-enforced)
      operationId: listStatements
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Statement-period list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Statement'
        '403':
          description: Account does not belong to caller

  /statements/{accountId}/{currency}/{legalSequence}:
    get:
      tags: [Statements]
      summary: Render a closed statement on demand (camt.053 / MT940 / PDF) for one of the caller's own accounts
      description: >-
        statement-service renders the document deterministically on demand (ADR-0035) — nothing is
        stored. Ownership is enforced (same IDOR guard as the list); currency and format are
        allow-listed before proxying. The body streams back with the upstream Content-Type
        (application/xml for camt.053, text/plain for MT940/PDF).
      operationId: renderStatement
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: currency, in: path, required: true, schema: {type: string, example: CZK}}
        - {name: legalSequence, in: path, required: true, schema: {type: integer, format: int64}}
        - name: format
          in: query
          required: false
          schema: {type: string, enum: [CAMT_053, MT940, PDF], default: PDF}
      responses:
        '200':
          description: Rendered statement document
          content:
            application/xml: {schema: {type: string}}
            text/plain: {schema: {type: string}}
        '400':
          description: Invalid currency or unsupported format
        '403':
          description: Account does not belong to caller
        '404':
          description: No statement for that sequence

  /notifications:
    get:
      tags: [Notifications]
      summary: List the authenticated customer's notification feed (party-scoped)
      operationId: listNotifications
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: limit, in: query, required: false, schema: {type: integer, default: 20}}
      responses:
        '200':
          description: Notification list

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Mark one notification as read (party-scoped, idempotent)
      operationId: markNotificationRead
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '204':
          description: Marked read
        '404':
          description: Not the caller's notification

  /notifications/read-all:
    patch:
      tags: [Notifications]
      summary: Mark all of the caller's notifications as read
      operationId: markAllNotificationsRead
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Count of notifications marked read

  /notifications/{id}:
    get:
      tags: [Notifications]
      summary: Read a single notification (party-scoped)
      description: >-
        notification-service's read is not itself party-scoped, so the edge fetches it and
        compares the returned partyId to the JWT; a mismatch and a missing id both collapse to
        the same 403 (no existence oracle). partyId and recipient are stripped from the response.
      operationId: getNotification
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Notification detail, projected
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  template: {type: string}
                  subject: {type: string}
                  body: {type: string}
                  status: {type: string}
                  readAt: {type: string, format: date-time, nullable: true}
                  createdAt: {type: string, format: date-time}
        '403':
          description: Not found, or not the caller's notification

  /notification-preferences:
    get:
      tags: [Notifications, Preferences]
      summary: The caller's own notification channel preferences (party-scoped)
      description: No stored row defaults to all channels enabled — this route never 404s.
      operationId: getNotificationPreferences
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Notification preferences
          content:
            application/json:
              schema: {$ref: '#/components/schemas/NotificationPreferences'}
    put:
      tags: [Notifications, Preferences]
      summary: Update the caller's own notification channel preferences (party-scoped)
      operationId: setNotificationPreferences
      security:
        - customerOidc: [accounts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/NotificationPreferences'}
      responses:
        '200':
          description: Updated notification preferences
          content:
            application/json:
              schema: {$ref: '#/components/schemas/NotificationPreferences'}

  /surfaces/{slot}:
    get:
      tags: [Engagement]
      summary: Resolve a consented, typed in-app engagement surface for the caller
      description: >-
        Returns catalogue-backed content for a mobile slot after the engagement service applies
        marketing consent, impression budget, adverse-state exclusions and dismissal suppression.
        The party is always taken from the authenticated customer session; it is never a client
        parameter. The app owns local rendering and navigation for the typed payload.
      operationId: getEngagementSurface
      security:
        - customerOidc: []
      parameters:
        - name: slot
          in: path
          required: true
          schema:
            type: string
            enum: [HOME_BANNER, HOME_CAROUSEL, STORIES, PRODUCT_FEED, REWARDS_HUB]
      responses:
        '200':
          description: Surface resolution, including an explicit state when no content may render
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EngagementSurfaceResponse'
        '400':
          description: Unknown surface slot

  /surfaces/events:
    post:
      tags: [Engagement]
      summary: Record an app-observed engagement event for a surfaced item
      description: >-
        The party identity is injected from the customer JWT. The service accepts only a content
        id that belongs to the declared slot, so a device cannot manufacture metrics for an
        arbitrary campaign or content class.
      operationId: recordEngagementSurfaceEvent
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EngagementSurfaceEvent'
      responses:
        '202':
          description: Event persisted and queued for the engagement event stream
        '400':
          description: Invalid request, unknown content or content-slot mismatch

  /profile:
    get:
      tags: [Profile]
      summary: Get the authenticated customer's own profile (party-scoped)
      operationId: getProfile
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

  /profile/consent:
    patch:
      tags: [Profile, Consents]
      summary: Update the caller's marketing-communications consent (party-scoped)
      description: >-
        Updates ONLY `consentMarketing` — the GDPR data-processing consent snapshot on the
        party (ADR-0198). `consentGdpr`, the immutable onboarding-time consent, is never
        touched by this route. partyId is taken from the JWT, never the body.
      operationId: updateConsent
      security:
        - customerOidc: [accounts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [marketingConsent]
              properties:
                marketingConsent: {type: boolean}
      responses:
        '200':
          description: Updated profile (party-service's full projection)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '400':
          description: 'marketingConsent (boolean) is required'

  /consents:
    get:
      tags: [Consents]
      summary: List the caller's own PSD2/agent consents (party-scoped, projected)
      description: >-
        Projects consent-service's full ConsentResponse down to a customer-safe shape —
        partyId and granteeId are dropped. Fails soft to an empty array on any upstream
        failure; partyId always comes from the JWT so there is no ownership failure mode.
      operationId: listConsents
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The caller's consents, projected (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: string, format: uuid}
                    granteeName: {type: string}
                    granteeType: {type: string, enum: [TPP, BANK_AGENT, CUSTOMER_AGENT, INTERNAL_SERVICE]}
                    status: {type: string, enum: [PENDING_SCA, ACTIVE, EXPIRED, REVOKED, REJECTED, SUPERSEDED]}
                    scopes:
                      type: array
                      items:
                        type: string
                        enum:
                          - ACCOUNTS_READ
                          - BALANCES_READ
                          - TRANSACTIONS_READ
                          - STATEMENTS_READ
                          - PAYMENT_ACCOUNTS_READ
                          - STANDING_ORDERS_READ
                          - DIRECT_DEBITS_READ
                          - PAYMENTS_INITIATE
                          - PAYMENTS_STATUS_READ
                          - DOMESTIC_PAYMENT_INITIATE
                          - SIPO_PAYMENT_INITIATE
                          - FUNDS_CONFIRMATION
                          - AGENT_QUERY
                          - AGENT_INITIATE
                          - AGENT_NOTIFY
                          - AGENT_ANALYZE
                          - TELEMETRY_RUM
                          - MARKETING_COMMS_EMAIL
                          - MARKETING_COMMS_PUSH
                          - MARKETING_COMMS_INAPP
                          - CREDIT_OFFERS
                          - CREDIT_PROFILE_USE
                          - CREDIT_AI_AGENT
                    accountIbans: {type: array, items: {type: string}, nullable: true}
                    validFrom: {type: string, format: date-time}
                    validTo: {type: string, format: date-time}
                    createdAt: {type: string, format: date-time}

  /consents/{id}:
    delete:
      tags: [Consents]
      summary: Revoke one of the caller's own consents
      description: >-
        The revoke reason is fixed by the edge to "Revoked by customer" — not customer-editable.
        partyId is taken from the JWT and forwarded as a query parameter so the caller can only
        ever revoke their own consent (a foreign consent id is refused, not silently accepted).
      operationId: revokeConsent
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Revoked consent (full, unprojected upstream shape)
        '403':
          description: Consent does not belong to caller
        '404':
          description: Consent not found

  /payees:
    get:
      tags: [Payees]
      summary: List the authenticated customer's saved payees, newest first
      operationId: listPayees
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Saved payees
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/Payee'}
    put:
      tags: [Payees]
      summary: Save (or update) a payee — upsert by IBAN
      operationId: savePayee
      security:
        - customerOidc: [accounts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/SavePayeeRequest'}
      responses:
        '200':
          description: Saved payee
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Payee'}
        '400':
          description: Missing name or iban
        '422':
          description: Party already has the maximum of 30 saved payees

  /payees/{iban}:
    delete:
      tags: [Payees]
      summary: Remove a saved payee by IBAN. Idempotent — a missing IBAN is not an error.
      operationId: deletePayee
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: iban, in: path, required: true, schema: {type: string}}
      responses:
        '204':
          description: Removed (or already absent)

  /fx/rates:
    get:
      tags: [FX]
      summary: Published FX rate sheet (kurzovní lístek) — authenticated, not party-scoped
      description: >-
        The bank's current FX rate sheet. The edge projects fx-service's rich rate records down to
        a lightweight array of {base, quote, rate, bid, ask, timestamp}; `rate` is the mid-price
        (bid+ask)/2. Same data for every customer.
      operationId: listFxRates
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: FX rate sheet
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/FxRate'}
        '502':
          description: Malformed upstream rate sheet

  /fx/rates/{base}/{quote}:
    post:
      tags: [FX]
      summary: Live FX rate for one currency pair (mid-price), for in-form conversion
      description: >-
        Single-pair rate. POST mirrors the app's other write-shaped calls but this is a read; the
        edge GETs fx-service and projects to {base, quote, rate, timestamp} (mid-price).
      operationId: getFxRate
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: base, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
        - {name: quote, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
      responses:
        '200':
          description: FX rate for the pair
          content:
            application/json:
              schema: {$ref: '#/components/schemas/FxRate'}
        '400':
          description: Invalid currency code
        '502':
          description: Malformed upstream rate

  /fx/rates/{base}/{quote}/history:
    get:
      tags: [FX]
      summary: Three-month ČNB reference trend for a currency pair
      description: >-
        Returns ČNB reference mid-rates for the pair over time, ordered newest-first. When bounds
        are omitted, the interval is exactly three calendar months in UTC. The values are
        indicative historical fixings, not reproducible or binding commercial customer quotes.
      operationId: getFxRateHistory
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: base, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
        - {name: quote, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
        - {name: from, in: query, required: false, schema: {type: string, format: date-time}, description: Start of window (inclusive), ISO-8601 Instant}
        - {name: to, in: query, required: false, schema: {type: string, format: date-time}, description: End of window (inclusive), ISO-8601 Instant}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 365, default: 90}}
        - {name: offset, in: query, required: false, schema: {type: integer, minimum: 0, default: 0}}
      responses:
        '200':
          description: Historical bank FX rates, newest first
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/FxRate'}
        '400':
          description: Invalid currency code or instant format
        '502':
          description: Malformed upstream history

  /loan-applications:
    post:
      tags: [Lending]
      summary: Apply for a loan (ADR-0211 customer intake)
      description: >-
        Submits a loan application for the caller. The party is taken from the JWT and travels to
        lending-service as X-Customer-Party-Id — never from the body — so a customer can only apply
        for themselves. Price, jurisdiction and product type are lending-side configuration, so the
        applicant cannot price their own loan nor choose which compliance pack judges them.
        Deliberately not fail-soft: the upstream status and reason pass through, because a
        synthesised success would tell the customer an application was filed when none was.
        This is the maker leg only — a human four-eyes decision still gates any disbursement.
      operationId: applyForLoan
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, termMonths]
              properties:
                amount: {type: number, example: 250000}
                termMonths: {type: integer, example: 48}
      responses:
        '201':
          description: Application accepted into the origination graph
        '400':
          description: Amount or term outside the configured product bounds
        '403':
          description: Self-service intake is disabled, unpriced, or the caller is not permitted

  /loans:
    get:
      tags: [Lending]
      summary: List the caller's own loans (party-scoped, projected)
      description: >-
        Projects lending-service's Loan model down to a customer-safe shape. Fails soft to an
        empty array on any upstream failure or parse error — never surfaces a raw error.
      operationId: listLoans
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The caller's loans, projected (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/Loan'}

  /financial-health:
    get:
      tags: [Lending]
      summary: The caller's four-pillar financial health (no score)
      description: >-
        ADR-0269 / APP-ADR-0001 rule 5. Reserve, cashflow, obligations and habits, each with its own
        zone. There is deliberately no aggregate: a single grade invites the customer to optimise it
        and the bank to act on it, and neither is what this exists for. Any pillar may answer
        UNKNOWN — the bank not having seen something is a fact about the bank, not a verdict about
        the customer. Fails soft to an empty list.
      operationId: getFinancialHealth
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The pillars (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/HealthPillar'}

  /credit/events:
    post:
      tags: [Lending]
      summary: One credit-journey funnel event
      description: >-
        ADR-0269 rule 8's metrics. AUTHENTICATED, unlike the onboarding funnel's public endpoint —
        these events say "this person is looking at borrowing", which must not ride a stream anyone
        can post to. The party comes from the JWT and a partyId in the body is ignored.

        Always 202, including for a value outside the allow-list: a 400 would make the allow-list an
        oracle for what the bank tracks, and telemetry has no business teaching a client anything.

        The action vocabulary deliberately cannot express a conversion. The programme measures
        self-activation and opt-out, not how many customers borrowed.
      operationId: trackCreditEvent
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [step, action]
              properties:
                step: {type: string, enum: [CONSENT, HEALTH, FINANCING, QUOTE, APPLICATION]}
                action:
                  type: string
                  enum: [VIEWED, CONSENT_GRANTED, CONSENT_WITHDRAWN, QUOTE_REQUESTED,
                         QUOTE_SUPPRESSED, APPLICATION_STARTED, APPLICATION_ABANDONED]
      responses:
        '202':
          description: Accepted (or silently dropped — the caller cannot tell, by design)

  /credit/consents:
    get:
      tags: [Consents]
      summary: The caller's own credit consents, as three switches
      description: >-
        ADR-0269 rule 1. Derived once here rather than by every client filtering a consent list —
        the first client to write that filter differently gets a different answer. An unreadable
        consent list answers "everything off", which is both the safe default and the true state
        for anyone who has never granted these.
      operationId: getCreditConsents
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The three switches
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CreditConsents'}
    put:
      tags: [Consents]
      summary: Set the caller's credit consents to exactly this state
      description: >-
        Full-state PUT, not a partial patch: "turn offers off" and "leave offers alone" must not be
        the same request. Anything false is revoked immediately and for every channel. These are
        GDPR Art. 7 data-processing consents, so no SCA ceremony is required (ADR-0205 D1); the
        party comes from the JWT, never the body.
      operationId: putCreditConsents
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/CreditConsents'}
      responses:
        '200':
          description: The resulting state, re-read after the change
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CreditConsents'}
        '400': {description: Malformed body}

  /credit/quotes:
    post:
      tags: [Lending]
      summary: Indicative, non-binding price for an amount and term
      description: >-
        ADR-0269 rule 4 — the only route by which the app may learn what a loan costs. The client
        computes no price. Not fail-soft: a 409 (distress floor suppressed pricing, with a reason
        code) passes through rather than becoming an empty 200, which a client renders as zero.
      operationId: quoteCredit
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, termMonths]
              properties:
                amount: {type: string}
                termMonths: {type: integer, minimum: 1}
      responses:
        '200':
          description: The indicative quote
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CreditQuote'}
        '400': {description: Amount or term outside the product bounds}
        '409': {description: Pricing suppressed; body carries reasonCode}

  /credit-applications:
    get:
      tags: [Lending]
      summary: The caller's own credit applications as customer-readable journeys
      description: >-
        ADR-0269 rule 3. The read half of the intake pair: POST /loan-applications files an
        application, this says where it got to. Carries no rate, instalment or APRC — price is
        ADR-0269 rule 4 and arrives as a separate quote object. Fails soft to an empty array on
        upstream failure, because an unfetchable journey must not be invented.
      operationId: listCreditApplications
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The caller's credit applications (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/CreditJourney'}

  /credit-applications/{applicationId}:
    get:
      tags: [Lending]
      summary: One of the caller's own credit applications
      description: >-
        Ownership is enforced upstream by party header: lending-service filters by owner and answers
        404 for a foreign id, so a not-found and a not-yours are indistinguishable. Not fail-soft —
        there is no honest empty value for a single journey.
      operationId: getCreditApplication
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: applicationId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: The credit application journey
          content:
            application/json:
              schema: {$ref: '#/components/schemas/CreditJourney'}
        '404':
          description: No such application for this caller

  /loans/{loanId}/schedule:
    get:
      tags: [Lending]
      summary: Repayment schedule for one of the caller's own loans
      description: >-
        Ownership is enforced at the edge — lending-service's schedule endpoint is not itself
        party-scoped, so the edge fetches the loan first and compares its partyId to the JWT
        before requesting the schedule. Fails soft to an empty array if the schedule fetch
        itself fails.
      operationId: getLoanSchedule
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: loanId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Repayment schedule, projected (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    number: {type: integer}
                    dueDate: {type: string, format: date, nullable: true}
                    paymentAmount: {type: string}
                    currency: {type: string}
                    principalAmount: {type: string}
                    interestAmount: {type: string}
                    paid: {type: boolean}
        '403':
          description: Loan does not belong to caller

  /standing-orders:
    get:
      tags: [Standing Orders]
      summary: List the caller's own standing orders (party-scoped)
      operationId: listStandingOrders
      security:
        - customerOidc: [payments:read]
      responses:
        '200':
          description: Raw standing-order-service passthrough
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/StandingOrder'}
    post:
      tags: [Standing Orders]
      summary: Create a standing (recurring) order from an account the caller owns
      description: >-
        debitAccountId is ownership-checked at the edge; partyId is always taken from the JWT
        (a client-supplied value is overwritten). startDate defaults to today when omitted.
      operationId: createStandingOrder
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: false, schema: {type: string}, description: Synthesized by the edge when absent}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debitAccountId, creditorIban, creditorName, amountMinorUnits, currency, frequency, paymentType]
              properties:
                debitAccountId: {type: string, format: uuid}
                debtorIban: {type: string, nullable: true}
                debtorName: {type: string, nullable: true}
                creditorIban: {type: string}
                creditorName: {type: string}
                creditorBic: {type: string, nullable: true}
                amountMinorUnits: {type: integer, format: int64}
                currency: {type: string}
                frequency: {type: string, enum: [ONCE, DAILY, WEEKLY, BIWEEKLY, MONTHLY, QUARTERLY, ANNUALLY]}
                paymentType: {type: string, enum: [SEPA_CREDIT, DOMESTIC, INTERNAL]}
                remittanceInfo: {type: string, nullable: true}
                startDate: {type: string, format: date, description: Defaults to today when omitted}
                endDate: {type: string, format: date, nullable: true}
      responses:
        '201':
          description: Standing order created
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StandingOrder'}
        '400':
          description: Missing or malformed field
        '403':
          description: Debit account does not belong to caller

  /standing-orders/{id}:
    delete:
      tags: [Standing Orders]
      summary: Cancel one of the caller's own standing orders
      description: >-
        Ownership enforced at the edge (fetch-then-compare). A missing order and an order
        owned by another party both return the same 403 — no existence oracle.
      operationId: cancelStandingOrder
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '204':
          description: Cancelled
        '403':
          description: Standing order not found, or not owned by the caller

  /standing-orders/{id}/pause:
    post:
      tags: [Standing Orders]
      summary: Pause one of the caller's own standing orders
      operationId: pauseStandingOrder
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Standing order paused
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StandingOrder'}
        '403':
          description: Standing order not found, or not owned by the caller

  /standing-orders/{id}/resume:
    post:
      tags: [Standing Orders]
      summary: Resume one of the caller's own paused standing orders
      operationId: resumeStandingOrder
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Standing order resumed
          content:
            application/json:
              schema: {$ref: '#/components/schemas/StandingOrder'}
        '403':
          description: Standing order not found, or not owned by the caller

  /disputes:
    get:
      tags: [Disputes]
      summary: List disputes filed against transactions on an account the caller owns
      operationId: listDisputes
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: query, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Raw dispute-service passthrough
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/Dispute'}
        '400':
          description: "Missing required query parameter 'accountId'"
        '403':
          description: Account does not belong to caller
    post:
      tags: [Disputes]
      summary: File a dispute against a transaction on an account the caller owns
      description: >-
        partyId is always taken from the JWT (a client-supplied value is overwritten).
        accountId is ownership-checked at the edge.
      operationId: createDispute
      security:
        - customerOidc: [accounts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [transactionId, accountId, disputeType, amount, transactionDate]
              properties:
                transactionId: {type: string, format: uuid}
                accountId: {type: string, format: uuid}
                disputeType:
                  type: string
                  enum: [UNAUTHORIZED, DUPLICATE, GOODS_NOT_RECEIVED, NOT_AS_DESCRIBED, CREDIT_NOT_PROCESSED, TECHNICAL_ERROR, OTHER]
                amount: {type: string}
                currency: {type: string, default: EUR}
                description: {type: string, nullable: true}
                merchantName: {type: string, nullable: true}
                merchantId: {type: string, nullable: true}
                transactionDate: {type: string, format: date}
      responses:
        '201':
          description: Dispute filed
          content:
            application/json:
              schema: {$ref: '#/components/schemas/Dispute'}
        '400':
          description: Missing or malformed accountId, or malformed body
        '403':
          description: Account does not belong to caller

  /kyc:
    get:
      tags: [KYC]
      summary: The caller's own KYC case status (party-scoped, projected)
      description: >-
        Bespoke alias over kyc-service's `GET /cases/party/{partyId}` — there is no bare
        `/kyc` route upstream. Internal-only fields (risk level, due-diligence tier, notes,
        assignee) are deliberately dropped. Fails soft: no case, or kyc-service unreachable,
        both return `{"status": "NONE", "checks": []}` rather than an error.
      operationId: getKycStatus
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: KYC status and checks (always 200 — fail-soft)
          content:
            application/json:
              schema:
                type: object
                required: [status, checks]
                properties:
                  status:
                    type: string
                    enum: [NONE, OPEN, DOCUMENTS_REQUIRED, UNDER_REVIEW, APPROVED, REJECTED, EXPIRED]
                  verifiedAt: {type: string, format: date-time, description: Present only once the case has been reviewed}
                  checks:
                    type: array
                    items:
                      type: object
                      properties:
                        type: {type: string, enum: [IDENTITY, ADDRESS, PEP_SCREENING, SANCTIONS_SCREENING, ADVERSE_MEDIA]}
                        status: {type: string, enum: [PENDING, PASSED, FAILED, MANUAL_REVIEW]}
                        performedAt: {type: string, format: date-time}

  /domestic-payments:
    post:
      tags: [Payments]
      summary: Initiate a domestic payment from an account the caller owns OR holds a payment delegation over (instruction only, no settlement)
      description: >-
        The client sends a lightweight body; the edge enriches it into the full instruction the
        payment service needs — resolving the debtor's own account number + bank code from its Czech
        IBAN and the debtor's legal name from party-service, splitting the creditor "number/bankcode",
        defaulting priority to STANDARD and mapping reference→messageForPayee. Malformed currency /
        IBAN / creditor format are rejected with 400. Initiation creates + screens only; money
        movement stays SCA-gated.


        Debit authority (ADR-0232 D3/D5): the debtorAccountId must belong to the JWT party, OR the
        JWT party must hold an ACTIVE, in-window, owner-issued delegation grant carrying
        `ACCOUNT_INITIATE_PAYMENT` whose per-transaction ceiling covers this amount. account-service
        makes that decision — the edge asks it, supplying the party from the validated token and
        never from the body. A delegated payment carries the ACCOUNT HOLDER's legal name as
        debtorName (not the initiator's) and is recorded in the tamper-evident audit chain with
        `onBehalfOf` = the grantor and `delegationId` = the grant.


        The delegate still authenticates as themselves: SCA is unchanged and a grant is not a
        substitute for it. Every refusal — not yours, no grant, expired, over the ceiling — returns
        the identical 403, so this route is not an oracle for other parties' accounts or grants.
      operationId: createDomesticPayment
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debtorAccountId, amount, creditorAccountNumber, creditorName]
              properties:
                debtorAccountId: {type: string, format: uuid}
                amount: {type: string, example: '250.00'}
                currency: {type: string, default: CZK}
                creditorAccountNumber: {type: string, description: 'Czech "number/bankcode"', example: '2000145399/0800'}
                creditorName: {type: string}
                variableSymbol: {type: string, nullable: true}
                specificSymbol: {type: string, nullable: true}
                constantSymbol: {type: string, nullable: true}
                reference: {type: string, nullable: true}
      responses:
        '201':
          description: Payment instruction created
        '400':
          description: Malformed currency, debtor IBAN, creditor account, or incomplete body
        '403':
          description: >-
            Caller may not debit this account — not the owner and no authorising delegation grant
            (indistinguishable from an expired grant, an over-ceiling amount, or an unknown
            account, by design), or SCA missing/rejected.

  /domestic-payments/{paymentId}:
    get:
      tags: [Payments]
      summary: Read the current status of one of the caller's own domestic payments (settlement-honest, ADR-0108)
      description: >-
        Proxies domestic-payment's status read so the app can distinguish "accepted/processing" from
        true settlement: the client polls this after a create returns merely accepted
        (RECEIVED/VALIDATED/SENT_TO_CLEARING) and only treats SETTLED as success — the money is then
        irrevocably in clearing / credited. Ownership is enforced here (the payment's debtorAccountId
        must belong to the JWT party); a malformed id, an upstream miss, and a payment owned by another
        party all collapse to an indistinguishable 404 so a caller cannot probe foreign payment ids.
      operationId: getDomesticPaymentStatus
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: paymentId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Current payment status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  status:
                    type: string
                    enum: [RECEIVED, VALIDATED, SENT_TO_CLEARING, SETTLED, REJECTED, RETURNED, CANCELLED]
        '404':
          description: Payment not found, or not owned by the caller (no existence oracle)

  /sepa-payments:
    post:
      tags: [Payments]
      summary: Initiate a SEPA credit transfer from one of the caller's own accounts (ownership-enforced; instruction only, no settlement)
      description: >-
        The client sends a lightweight body; the edge enriches it into the full SEPA instruction —
        the debtor IBAN is the account's own IBAN (SEPA is IBAN-native, no BBAN), the debtor legal
        name comes from party-service, and `type` defaults to SCT. The creditor IBAN passes through.
        Ownership is enforced (debtorAccountId must belong to the JWT party); an incomplete body
        (missing creditorIban / creditorName / amount) is rejected with 400. Initiation creates +
        screens only; money movement stays SCA-gated.
      operationId: createSepaPayment
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debtorAccountId, amount, creditorIban, creditorName]
              properties:
                debtorAccountId: {type: string, format: uuid}
                amount: {type: string, example: '120.00'}
                currency: {type: string, default: EUR}
                creditorIban: {type: string, example: 'DE89370400440532013000'}
                creditorName: {type: string}
                creditorBic: {type: string, nullable: true}
                reference: {type: string, nullable: true}
      responses:
        '201':
          description: SEPA payment instruction created
        '400':
          description: Incomplete body (need creditorIban, creditorName, amount) or unresolvable debtor
        '403':
          description: Debtor account does not belong to caller

  /sepa-payments/{paymentId}:
    get:
      tags: [Payments]
      summary: Read the current status of one of the caller's own SEPA payments (settlement-honest, ADR-0108)
      description: >-
        Proxies sepa-payment's status read so the app can distinguish "accepted/processing" from true
        settlement: the client polls this after a create returns merely accepted (RECEIVED/VALIDATED/
        PROCESSING) and only treats COMPLETED as success. Ownership is enforced here (the payment's
        debtorAccountId must belong to the JWT party); a malformed id, an upstream miss, and a payment
        owned by another party all collapse to an indistinguishable 404 (no existence oracle).
      operationId: getSepaPaymentStatus
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: paymentId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Current payment status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  status:
                    type: string
                    enum: [RECEIVED, VALIDATED, PROCESSING, COMPLETED, REJECTED, RETURNED, CANCELLED]
        '404':
          description: Payment not found, or not owned by the caller (no existence oracle)

  /payment-sessions:
    post:
      tags: [Payment Sessions]
      summary: Create a "nearby pay" (BLE proximity) session on the caller's own account (ADR-0095)
      description: >-
        Entirely in-memory at the edge — no dedicated backend service. Sessions expire after
        5 minutes and do not survive an edge restart (single-replica-only by design).
      operationId: createPaymentSession
      security:
        - customerOidc: [payments:initiate]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [creditorAccountId]
              properties:
                creditorAccountId: {type: string, format: uuid}
                requestedAmount: {type: string, nullable: true}
      responses:
        '200':
          description: Session created
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: {type: string, description: Opaque capability token — bearer resolves the session}
        '400':
          description: Missing or malformed creditorAccountId
        '403':
          description: Account does not belong to caller

  /payment-sessions/{token}:
    get:
      tags: [Payment Sessions]
      summary: Resolve a nearby-pay session by its token
      description: The token itself is the capability — any authenticated customer may resolve it.
      operationId: resolvePaymentSession
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: token, in: path, required: true, schema: {type: string}}
      responses:
        '200':
          description: Session display data
          content:
            application/json:
              schema:
                type: object
                properties:
                  displayName: {type: string}
                  requestedAmount: {type: string, nullable: true}
                  creditorMasked: {type: string}
        '404':
          description: Session not found (unknown or expired token)

  /payment-sessions/{token}/status:
    get:
      tags: [Payment Sessions]
      summary: Poll the status of a nearby-pay session the caller created
      description: >-
        Only the session's creator (creditorPartyId) may poll. An unknown or expired token
        returns 200 with status EXPIRED rather than 404 — status is a projection over the
        session's lifecycle, not an existence check. PAID is reconciled against real
        domestic-payment settlement, not just instruction acceptance.
      operationId: paymentSessionStatus
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: token, in: path, required: true, schema: {type: string}}
      responses:
        '200':
          description: Current session status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, enum: [ACTIVE, PROCESSING, PAID, REJECTED, EXPIRED]}
        '403':
          description: Not the session owner

  /sdd/mandates:
    get:
      tags: [SDD]
      summary: List SEPA Direct Debit mandates on an account the caller owns (projected)
      operationId: listSddMandates
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: query, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Mandates, customer-safe projection (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: string, format: uuid}
                    creditorName: {type: string}
                    creditorIdentifier: {type: string}
                    umr: {type: string}
                    scheme: {type: string, enum: [CORE, B2B]}
                    sequenceType: {type: string, enum: [OOFF, FRST, RCUR, FNAL]}
                    status: {type: string, enum: [PENDING_CONFIRMATION, ACTIVE, SUSPENDED, CANCELLED, EXPIRED]}
                    signatureDate: {type: string, format: date}
                    lastCollectionDate: {type: string, format: date, nullable: true}
        '400':
          description: Missing required query parameter 'accountId'
        '403':
          description: Account does not belong to caller
    post:
      tags: [SDD]
      summary: Register a new SEPA Direct Debit mandate on an account the caller owns
      description: >-
        The edge resolves debtorIban/debtorName from the account and mints the UMR and
        signature date server-side — none of these are client-supplied.
      operationId: createSddMandate
      security:
        - customerOidc: [accounts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId, creditorName, creditorIdentifier]
              properties:
                accountId: {type: string, format: uuid}
                creditorName: {type: string}
                creditorIdentifier: {type: string}
                scheme: {type: string, enum: [CORE, B2B], default: CORE}
                sequenceType: {type: string, enum: [OOFF, FRST, RCUR, FNAL], default: RCUR}
      responses:
        '201':
          description: Mandate registered (idempotent on creditor identifier + UMR)
        '400':
          description: Missing accountId/creditorName/creditorIdentifier, or unresolvable debtor IBAN
        '403':
          description: Account does not belong to caller

  /sdd/mandates/{id}/cancel:
    post:
      tags: [SDD]
      summary: Cancel a mandate on an account the caller owns
      operationId: cancelSddMandate
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Mandate cancelled
        '403':
          description: Mandate not found, or not owned by the caller

  /sdd/mandates/{id}/suspend:
    post:
      tags: [SDD]
      summary: Suspend a mandate on an account the caller owns
      operationId: suspendSddMandate
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Mandate suspended
        '403':
          description: Mandate not found, or not owned by the caller

  /sdd/mandates/{id}/resume:
    post:
      tags: [SDD]
      summary: Resume a suspended mandate on an account the caller owns
      operationId: resumeSddMandate
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Mandate resumed
        '403':
          description: Mandate not found, or not owned by the caller

  /sepa-instant:
    get:
      tags: [SEPA Instant]
      summary: List SEPA Instant Credit Transfers on an account the caller owns
      operationId: listSepaInstant
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: accountId, in: query, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Raw sepa-instant-service passthrough (first page)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    paymentId: {type: string, format: uuid}
                    status: {type: string, enum: [PENDING, PROCESSING, SETTLED, REJECTED, TIMEOUT, RECALLED]}
                    debtorIban: {type: string}
                    creditorIban: {type: string}
                    amount: {type: string}
                    currency: {type: string}
                    endToEndId: {type: string}
                    executionTimeoutAt: {type: string, format: date-time, nullable: true}
                    settledAt: {type: string, format: date-time, nullable: true}
                    createdAt: {type: string, format: date-time}
        '400':
          description: Missing required query parameter 'accountId'
        '403':
          description: Account does not belong to caller
    post:
      tags: [SEPA Instant]
      summary: Initiate a SEPA Instant Credit Transfer from an account the caller owns (SCA-gated)
      description: >-
        The edge resolves the debtor IBAN/name and generates endToEndId server-side.
        Money movement is SCA-gated — the challenge must already be approved.
      operationId: createSepaInstant
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: false, schema: {type: string}, description: Synthesized by the edge when absent}
        - {name: X-SCA-Challenge-Id, in: header, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debtorAccountId, creditorIban, creditorName, amount]
              properties:
                debtorAccountId: {type: string, format: uuid}
                creditorIban: {type: string}
                creditorName: {type: string}
                creditorBic: {type: string, nullable: true}
                amount: {type: string}
                currency: {type: string, default: EUR}
                reference: {type: string, nullable: true}
      responses:
        '201':
          description: SEPA Instant payment submitted
        '400':
          description: Missing or malformed field
        '403':
          description: Debtor account does not belong to caller, or SCA missing/rejected

  /sepa-instant/{paymentId}/recall:
    post:
      tags: [SEPA Instant]
      summary: Request recall of one of the caller's own SEPA Instant payments
      description: >-
        A recall is a scheme REQUEST, not a guarantee. accountId proves the caller's own
        account is the debtor on this payment (the payment resource is not itself party-scoped).
      operationId: recallSepaInstant
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: paymentId, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: accountId, in: query, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: {type: string, default: REQUESTED_BY_CUSTOMER}
      responses:
        '200':
          description: Recall requested
        '400':
          description: Missing required query parameter 'accountId'
        '403':
          description: Payment not found, or does not belong to caller's account

  /swift:
    post:
      tags: [SWIFT]
      summary: Initiate an outbound SWIFT (MT103) payment from an account the caller owns (SCA-gated)
      description: >-
        The edge assembles the full MT103 instruction (message type, value date, charge code
        SHA, priority NORMAL) from a lightweight client body. Money movement is SCA-gated.
      operationId: createSwift
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: false, schema: {type: string}}
        - {name: X-SCA-Challenge-Id, in: header, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debtorAccountId, creditorIban, creditorName, bic, amount]
              properties:
                debtorAccountId: {type: string, format: uuid}
                creditorIban: {type: string}
                creditorName: {type: string}
                bic: {type: string}
                amount: {type: string}
                currency: {type: string, default: EUR}
                reference: {type: string, nullable: true}
      responses:
        '201':
          description: SWIFT message accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  messageType: {type: string, enum: [MT103, MT202, MT900, MT910, MT940, MT950, MT199]}
                  senderBic: {type: string}
                  receiverBic: {type: string}
                  amount: {type: number}
                  currency: {type: string}
                  status: {type: string, enum: [PENDING, VALIDATED, SENT, ACKNOWLEDGED, REJECTED, FAILED, COMPLETED]}
                  createdAt: {type: string, format: date-time}
                  reference: {type: string}
        '400':
          description: Missing or malformed field
        '403':
          description: Debtor account does not belong to caller, or SCA missing/rejected

  /vop/verify:
    post:
      tags: [VoP]
      summary: Verification of Payee — confirm a creditor's IBAN/name pair before paying
      description: >-
        Pure name-matching lookup; no money movement and no ownership check (any authenticated
        customer may verify any IBAN/name pair, same as the SEPA scheme's VoP requirement).
      operationId: verifyPayee
      security:
        - customerOidc: [payments:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [creditorIban, creditorName]
              properties:
                creditorIban: {type: string, maxLength: 34}
                creditorName: {type: string, maxLength: 140}
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: {type: string, enum: [match, close_match, no_match, no_data]}
                  matchedName: {type: string, nullable: true, description: Present only when status is close_match}
                  reason:
                    type: string
                    nullable: true
                    description: Present only when status is no_data
                    enum: [no_scheme_connectivity, account_not_found, name_not_available, lookup_unavailable]
                  verifiedAt: {type: string, format: date-time}
        '400':
          description: Missing, blank, or oversized creditorIban/creditorName

  /transfers:
    post:
      tags: [Transfers]
      summary: Move money between two of the caller's own accounts (own-account transfer)
      description: >-
        Distinct from /domestic-payments and /sepa-payments — no IBAN/creditor resolution and
        no payment screening, since both legs stay inside the bank and belong to the same
        party. Booked via transaction-service under PSD2 RTS Art. 15's own-account SCA
        exemption. Both accounts must be owned by the caller and must differ.
      operationId: createTransfer
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: false, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sourceAccountId, targetAccountId, amount]
              properties:
                sourceAccountId: {type: string, format: uuid}
                targetAccountId: {type: string, format: uuid}
                amount: {type: string}
                currency: {type: string, default: CZK}
                description: {type: string, nullable: true}
      responses:
        '201':
          description: Transfer booked
        '400':
          description: Malformed body, or source and target account are the same
        '403':
          description: Source or target account does not belong to caller

  /complaints:
    post:
      tags: [Complaints]
      summary: File a general complaint (not necessarily tied to a dispute)
      description: >-
        Distinct from /disputes — a complaint need not reference a transaction. accountId is
        ownership-checked only when supplied (it's optional). There is no customer-facing
        complaint LISTING yet (ADR-0085) — this route is create-only.
      operationId: fileComplaint
      security:
        - customerOidc: [accounts:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category, description]
              properties:
                category:
                  type: string
                  enum: [PAYMENT_SERVICE, FEES, ACCOUNT_SERVICE, LENDING, CONDUCT, DATA_PROTECTION, OTHER]
                description: {type: string}
                accountId: {type: string, format: uuid, nullable: true}
                transactionId: {type: string, format: uuid, nullable: true}
                disputeId: {type: string, format: uuid, nullable: true}
      responses:
        '201':
          description: Complaint received
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  reference: {type: string}
                  category: {type: string}
                  channel: {type: string, enum: [APP, BRANCH, EMAIL, ARBITER]}
                  description: {type: string}
                  status: {type: string, enum: [RECEIVED, RESOLVED, CLOSED]}
                  accountId: {type: string, format: uuid, nullable: true}
                  transactionId: {type: string, format: uuid, nullable: true}
                  disputeId: {type: string, format: uuid, nullable: true}
                  receivedDate: {type: string, format: date}
                  dueDate: {type: string, format: date, description: Statutory reply deadline}
                  createdAt: {type: string, format: date-time}
        '400':
          description: Malformed body
        '403':
          description: accountId supplied but does not belong to caller

  /sca/parties/{partyId}/devices:
    post:
      tags: [SCA]
      summary: Enrol a device for SCA (ADR-0021)
      operationId: enrollDevice
      security:
        - customerOidc: [sca:enroll-device]
      parameters:
        - {name: partyId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollDeviceRequest'
      responses:
        '201':
          description: Device enrolled
        '403':
          description: partyId does not match authenticated party

  /sca/challenges:
    post:
      tags: [SCA]
      summary: Initiate an SCA challenge (partyId injected from the JWT)
      operationId: initiateChallenge
      security:
        - customerOidc: [sca:decide]
      parameters:
        - {name: Idempotency-Key, in: header, required: false, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json: {schema: {type: object}}
      responses:
        '201':
          description: Challenge created

  /sca/challenges/{id}:
    get:
      tags: [SCA]
      summary: Get SCA challenge status
      operationId: getChallenge
      security:
        - customerOidc: [sca:decide]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Challenge detail

  /sca/challenges/{id}/decision:
    post:
      tags: [SCA]
      summary: Record an out-of-band device decision (ADR-0021)
      operationId: recordDecision
      security:
        - customerOidc: [sca:decide]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDecisionRequest'
      responses:
        '200':
          description: Decision recorded

  /sca/pending:
    get:
      tags: [SCA]
      summary: List the caller's own pending (unanswered) SCA challenges
      operationId: listPendingSca
      security:
        - customerOidc: [sca:decide]
      responses:
        '200':
          description: Pending challenges, newest first (possibly empty)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: {type: string, format: uuid}
                    purpose:
                      type: string
                      enum: [CONSENT_GRANT, PAYMENT_INITIATION, LOGIN, AGENT_ACTION, SENSITIVE_DATA_ACCESS]
                    method: {type: string, enum: [PUSH_NOTIFICATION, TOTP, BIOMETRIC]}
                    amount: {type: string, nullable: true}
                    currency: {type: string, nullable: true}
                    creditorIban: {type: string, nullable: true}
                    creditorName: {type: string, nullable: true}
                    reference: {type: string, nullable: true}
                    expiresAt: {type: string, format: date-time}
                    createdAt: {type: string, format: date-time}

  /devices:
    post:
      tags: [Devices]
      summary: Register this app instance's push token (FCM/APNs)
      description: >-
        Registers (upserts) the device's push token so the party can receive push
        notifications. partyId is taken from the JWT — not the body — to prevent IDOR.
      operationId: registerDevice
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '201':
          description: Device registered
        '400':
          description: Missing or invalid fields
    get:
      tags: [Devices]
      summary: List the authenticated customer's registered push devices
      description: Returns device metadata only — provider tokens are never returned.
      operationId: listDevices
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Device list

  /devices/{id}:
    delete:
      tags: [Devices]
      summary: Deregister one of the caller's own push devices
      description: partyId is always taken from the JWT, so a caller can never revoke another party's device.
      operationId: revokeDevice
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '204':
          description: Deregistered
        '404':
          description: Device not found, or already inactive, or not owned by the caller

  /documents:
    get:
      tags: [Documents]
      summary: List the authenticated customer's documents
      description: >-
        partyRef is taken from the JWT, never the query (IDOR). Object-store coordinates
        (storageKey, sha256) are stripped — use /documents/{id}/content to fetch the bytes.
      operationId: listDocuments
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The caller's documents, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    templateCode: { type: string, example: RAMCOVA_SMLOUVA }
                    templateVersion: { type: string }
                    contentType: { type: string, example: application/pdf }
                    sizeBytes: { type: integer, format: int64 }
                    status: { type: string, enum: [GENERATED, PENDING_SIGNATURE, SIGNED, ARCHIVED] }
                    createdAt: { type: string, format: date-time }

  /documents/agreements:
    post:
      tags: [Documents]
      summary: Get-or-create the caller's onboarding framework agreement in a language (ADR-0169)
      description: >-
        Idempotent. partyRef is taken from the JWT, never the body (IDOR). The client only chooses
        the language; document-service renders the correct locale and opens the signing ceremony.
      operationId: ensureAgreement
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  enum: [cs, en]
                  default: cs
      responses:
        '200':
          description: The ceremony to sign + the rendered agreement it is scoped to

  /documents/{id}/content:
    get:
      tags: [Documents]
      summary: Stream a document's PDF bytes (owner only)
      operationId: getDocumentContent
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PDF bytes
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '404':
          description: Not found or not owned by the caller

  /signature-ceremonies/{id}:
    get:
      tags: [Documents]
      summary: A signature ceremony's status (signer only)
      operationId: getCeremony
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Ceremony detail
        '404':
          description: Not found or the caller is not a signer

  /signature-ceremonies/{id}/decisions:
    post:
      tags: [Documents]
      summary: Record the caller's signing decision (SCA-bound, ADR-0169)
      description: >-
        partyRef is forced to the JWT; evidenceRef (the SCA challenge id) is verified upstream by
[...]
