# SPDX-License-Identifier: Apache-2.0
# Copyright (c) OpenBank contributors. Licensed under the Apache License, Version 2.0.
openapi: 3.1.0
info:
  title: Customer Edge API
  version: 1.30.1
  description: >-
    Customer-facing edge proxy (ADR-0065). Single internet-facing entry point for the
    retail customer app. Validates JWTs from the openbank-customers Keycloak realm,
    enforces ownership, and proxies an explicit allow-list of routes to backend services.
    Deny-by-default: any path not listed here returns 404.

    Onboarding (ADR-0069): /onboarding/start is unauthenticated (party creation before
    Keycloak user exists). /onboarding/account requires a valid customer session and
    enforces the KYC gate (party must be ACTIVE) before opening a bank account.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://customer.open-bank.tech/customer/v1
    description: Sandbox

tags:
  - name: Reference
  - name: Accounts
  - name: Balances
  - name: SCA
  - name: Devices
  - name: Onboarding
  - name: WebAuthn
  - name: Documents
  - name: Preferences
  - name: Feedback
  - name: Cards
  - name: Lending
  - name: Delegation

paths:
  /feedback:
    post:
      tags: [Feedback]
      summary: Submit in-app screen feedback, optionally with a screenshot (ADR-0192)
      description: >-
        Screen-scoped product feedback from the app's global feedback rail. The screenshot is
        user-initiated and explicitly confirmed on-device before sending; the edge validates it by
        PNG signature, stores it in object storage under a 90-day lifecycle rule, and publishes only
        METADATA plus the object key to `openbank.feedback.events` — the image never enters the
        event stream or the warehouse. The party is taken from the bearer token, never the body.

        Best-effort by design: a well-formed submission always answers 202, even if the screenshot
        write failed (the event then records the failure and the comment is still delivered).
        Quota: 10 submissions per party per hour, on top of the global per-party request limit.
      operationId: submitFeedback
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeedbackSubmission'
      responses:
        '202':
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedbackAccepted'
        '400':
          description: Malformed body, unknown category, bad screenId, non-base64 or non-PNG screenshot
        '403':
          description: Token carries no usable party identity
        '413':
          description: Request body too large, or screenshot larger than 2 MB decoded
        '429':
          description: Per-party hourly feedback quota exceeded

  /preferences/theme:
    get:
      tags: [Preferences]
      summary: The customer's stored app-appearance document (ThemeSpec, ADR-0190)
      description: >-
        Per-party ThemeSpec so the customer's look roams across devices. Stored
        edge-locally (Redis, no upstream). The client re-validates every spec with
        its deterministic guardrail before applying it.
      operationId: getThemePreference
      security:
        - customerOidc: []
      responses:
        '200':
          description: Stored ThemeSpec
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThemeSpec'
        '404':
          description: No theme stored for this party
    put:
      tags: [Preferences]
      summary: Store the customer's ThemeSpec
      operationId: setThemePreference
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThemeSpec'
      responses:
        '204':
          description: Stored
        '400':
          description: Body is not a JSON object
        '413':
          description: Body exceeds the 8 KiB spec cap

  /banks:
    get:
      tags: [Reference]
      summary: List Czech bank codes (CNB registry)
      description: >-
        Returns the current list of Czech bank codes from the CNB JERR registry.
        The response is served from an in-process cache that is seeded from an embedded
        fallback on startup and refreshed from CNB every 24 hours. No authentication
        required — bank codes are public reference data.
      operationId: listBanks
      security: []
      responses:
        '200':
          description: Array of Czech bank entries sorted by code
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BankDto'

  /privacy/access-log:
    get:
      tags: [Privacy]
      summary: The caller's own access log (privacy centre)
      operationId: getAccessLog
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Access-log entries for the caller's party (event metadata only)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessLogEntry'

  /directory/lookup:
    post:
      tags: [Directory]
      summary: Match address-book phone hashes against parties who opted into pay-to-phone
      description: >
        Takes SHA-256 hashes of phone numbers the caller already holds and returns the subset
        belonging to parties who opted into being discoverable. Never accepts or returns a
        plaintext phone number, and returns no account, email or address — the payment rail
        resolves the account from the party id server-side. Hashing keeps numbers out of logs;
        it is not a privacy guarantee against the bank, which holds the numbers regardless.
      operationId: directoryLookup
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryLookupRequest'
      responses:
        '200':
          description: The hashes that matched a discoverable party
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryLookupResponse'
        '400':
          description: phoneHashes missing or not an array

  /directory/discoverable:
    put:
      tags: [Directory]
      summary: Turn the caller's own pay-to-phone findability on or off
      operationId: setDiscoverable
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiscoverableRequest'
      responses:
        '200':
          description: The stored setting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverableRequest'
        '400':
          description: discoverable missing or not a boolean

  /directory/payee:
    post:
      tags: [Directory]
      summary: Turn a directory hit into a payable target, without disclosing the payee's account
      description: >
        Takes the SHA-256 hash of a phone number the caller already holds and returns an opaque
        payment-session token (the same rail nearby-pay uses, ADR-0095) plus a display name and a
        MASKED account. The payee's real account number never leaves the edge: the token is
        resolved back to it inside POST /domestic-payments, and SCA is signed against the masked
        form. Answering with an account number would make this a harvester, since phone numbers
        are enumerable in a way account numbers are not.

        Opt-in is re-checked here rather than trusted from the caller's earlier lookup — someone
        who has since turned findability off stops being payable immediately. "No such number",
        "not discoverable" and "no creditable account" all return the SAME 404 body, so this route
        cannot be used as an existence oracle.
      operationId: directoryPayee
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectoryPayeeRequest'
      responses:
        '200':
          description: A payment-session token bound to the payee's account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectoryPayeeResponse'
        '400':
          description: phoneHash missing/malformed, or the hash resolves to the caller themselves
        '404':
          description: No payee for that number — indistinguishable from opted-out or not creditable

  /accounts:
    get:
      tags: [Accounts]
      summary: List the authenticated customer's accounts
      operationId: listAccounts
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Account list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'

  /accounts/{accountId}:
    get:
      tags: [Accounts]
      summary: Get a single account
      operationId: getAccount
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Account detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
        '403':
          description: Not the owner

  /accounts/{accountId}/goal:
    put:
      tags: [Accounts]
      summary: Set or update the account's savings goal metadata (ADR-0153)
      operationId: updateSavingsGoal
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, targetMinorUnits]
              properties:
                name: {type: string}
                targetMinorUnits: {type: integer, format: int64}
                targetDate: {type: string, format: date}
      responses:
        '200':
          description: Account with updated goal metadata
        '400':
          description: Malformed request or missing/invalid fields
        '403':
          description: Not the owner
    delete:
      tags: [Accounts]
      summary: Clear the account's savings goal metadata
      operationId: clearSavingsGoal
      security:
        - customerOidc: [accounts:write]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Account with goal metadata cleared
        '403':
          description: Not the owner

  /balances/{accountId}:
    get:
      tags: [Balances]
      summary: Get balance for an account
      operationId: getBalance
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Balance detail
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Balance'

  /transactions:
    get:
      tags: [Transactions]
      summary: List transactions for one of the caller's own accounts (ownership-enforced)
      operationId: listTransactions
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: query, required: true, schema: {type: string, format: uuid}}
        - {name: limit, in: query, required: false, schema: {type: integer, default: 20}}
        - {name: cursor, in: query, required: false, schema: {type: string}}
      responses:
        '200':
          description: Transaction page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
        '403':
          description: Account does not belong to caller

  /statements/{accountId}:
    get:
      tags: [Statements]
      summary: List closed-period statement records for one of the caller's own accounts (ownership-enforced)
      operationId: listStatements
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Statement-period list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Statement'
        '403':
          description: Account does not belong to caller

  /statements/{accountId}/{currency}/{legalSequence}:
    get:
      tags: [Statements]
      summary: Render a closed statement on demand (camt.053 / MT940 / PDF) for one of the caller's own accounts
      description: >-
        statement-service renders the document deterministically on demand (ADR-0035) — nothing is
        stored. Ownership is enforced (same IDOR guard as the list); currency and format are
        allow-listed before proxying. The body streams back with the upstream Content-Type
        (application/xml for camt.053, text/plain for MT940/PDF).
      operationId: renderStatement
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: accountId, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: currency, in: path, required: true, schema: {type: string, example: CZK}}
        - {name: legalSequence, in: path, required: true, schema: {type: integer, format: int64}}
        - name: format
          in: query
          required: false
          schema: {type: string, enum: [CAMT_053, MT940, PDF], default: PDF}
      responses:
        '200':
          description: Rendered statement document
          content:
            application/xml: {schema: {type: string}}
            text/plain: {schema: {type: string}}
        '400':
          description: Invalid currency or unsupported format
        '403':
          description: Account does not belong to caller
        '404':
          description: No statement for that sequence

  /notifications:
    get:
      tags: [Notifications]
      summary: List the authenticated customer's notification feed (party-scoped)
      operationId: listNotifications
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: limit, in: query, required: false, schema: {type: integer, default: 20}}
      responses:
        '200':
          description: Notification list

  /notifications/{id}/read:
    patch:
      tags: [Notifications]
      summary: Mark one notification as read (party-scoped, idempotent)
      operationId: markNotificationRead
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '204':
          description: Marked read
        '404':
          description: Not the caller's notification

  /notifications/read-all:
    patch:
      tags: [Notifications]
      summary: Mark all of the caller's notifications as read
      operationId: markAllNotificationsRead
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Count of notifications marked read

  /profile:
    get:
      tags: [Profile]
      summary: Get the authenticated customer's own profile (party-scoped)
      operationId: getProfile
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Customer profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'

  /fx/rates:
    get:
      tags: [FX]
      summary: Published FX rate sheet (kurzovní lístek) — authenticated, not party-scoped
      description: >-
        The bank's current FX rate sheet. The edge projects fx-service's rich rate records down to
        a lightweight array of {base, quote, rate, bid, ask, timestamp}; `rate` is the mid-price
        (bid+ask)/2. Same data for every customer.
      operationId: listFxRates
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: FX rate sheet
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/FxRate'}
        '502':
          description: Malformed upstream rate sheet

  /fx/rates/{base}/{quote}:
    post:
      tags: [FX]
      summary: Live FX rate for one currency pair (mid-price), for in-form conversion
      description: >-
        Single-pair rate. POST mirrors the app's other write-shaped calls but this is a read; the
        edge GETs fx-service and projects to {base, quote, rate, timestamp} (mid-price).
      operationId: getFxRate
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: base, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
        - {name: quote, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
      responses:
        '200':
          description: FX rate for the pair
          content:
            application/json:
              schema: {$ref: '#/components/schemas/FxRate'}
        '400':
          description: Invalid currency code
        '502':
          description: Malformed upstream rate

  /fx/rates/{base}/{quote}/history:
    get:
      tags: [FX]
      summary: Historical bank commercial rates for a currency pair (newest-first)
      description: >-
        Returns the bank's own published rates (source=INTERNAL) for the pair over time, ordered
        newest-first. Use `from`/`to` (ISO-8601 Instant) to bound the window; `limit` is capped
        at 365 (one year of daily rates). Designed for the app's rate-history chart.
      operationId: getFxRateHistory
      security:
        - customerOidc: [accounts:read]
      parameters:
        - {name: base, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
        - {name: quote, in: path, required: true, schema: {type: string, minLength: 3, maxLength: 3}}
        - {name: from, in: query, required: false, schema: {type: string, format: date-time}, description: Start of window (inclusive), ISO-8601 Instant}
        - {name: to, in: query, required: false, schema: {type: string, format: date-time}, description: End of window (inclusive), ISO-8601 Instant}
        - {name: limit, in: query, required: false, schema: {type: integer, minimum: 1, maximum: 365, default: 90}}
        - {name: offset, in: query, required: false, schema: {type: integer, minimum: 0, default: 0}}
      responses:
        '200':
          description: Historical bank FX rates, newest first
          content:
            application/json:
              schema:
                type: array
                items: {$ref: '#/components/schemas/FxRate'}
        '400':
          description: Invalid currency code or instant format
        '502':
          description: Malformed upstream history

  /loan-applications:
    post:
      tags: [Lending]
      summary: Apply for a loan (ADR-0211 customer intake)
      description: >-
        Submits a loan application for the caller. The party is taken from the JWT and travels to
        lending-service as X-Customer-Party-Id — never from the body — so a customer can only apply
        for themselves. Price, jurisdiction and product type are lending-side configuration, so the
        applicant cannot price their own loan nor choose which compliance pack judges them.
        Deliberately not fail-soft: the upstream status and reason pass through, because a
        synthesised success would tell the customer an application was filed when none was.
        This is the maker leg only — a human four-eyes decision still gates any disbursement.
      operationId: applyForLoan
      security:
        - customerOidc: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, termMonths]
              properties:
                amount: {type: number, example: 250000}
                termMonths: {type: integer, example: 48}
      responses:
        '201':
          description: Application accepted into the origination graph
        '400':
          description: Amount or term outside the configured product bounds
        '403':
          description: Self-service intake is disabled, unpriced, or the caller is not permitted

  /domestic-payments:
    post:
      tags: [Payments]
      summary: Initiate a domestic payment from an account the caller owns OR holds a payment delegation over (instruction only, no settlement)
      description: >-
        The client sends a lightweight body; the edge enriches it into the full instruction the
        payment service needs — resolving the debtor's own account number + bank code from its Czech
        IBAN and the debtor's legal name from party-service, splitting the creditor "number/bankcode",
        defaulting priority to STANDARD and mapping reference→messageForPayee. Malformed currency /
        IBAN / creditor format are rejected with 400. Initiation creates + screens only; money
        movement stays SCA-gated.


        Debit authority (ADR-0232 D3/D5): the debtorAccountId must belong to the JWT party, OR the
        JWT party must hold an ACTIVE, in-window, owner-issued delegation grant carrying
        `ACCOUNT_INITIATE_PAYMENT` whose per-transaction ceiling covers this amount. account-service
        makes that decision — the edge asks it, supplying the party from the validated token and
        never from the body. A delegated payment carries the ACCOUNT HOLDER's legal name as
        debtorName (not the initiator's) and is recorded in the tamper-evident audit chain with
        `onBehalfOf` = the grantor and `delegationId` = the grant.


        The delegate still authenticates as themselves: SCA is unchanged and a grant is not a
        substitute for it. Every refusal — not yours, no grant, expired, over the ceiling — returns
        the identical 403, so this route is not an oracle for other parties' accounts or grants.
      operationId: createDomesticPayment
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debtorAccountId, amount, creditorAccountNumber, creditorName]
              properties:
                debtorAccountId: {type: string, format: uuid}
                amount: {type: string, example: '250.00'}
                currency: {type: string, default: CZK}
                creditorAccountNumber: {type: string, description: 'Czech "number/bankcode"', example: '2000145399/0800'}
                creditorName: {type: string}
                variableSymbol: {type: string, nullable: true}
                specificSymbol: {type: string, nullable: true}
                constantSymbol: {type: string, nullable: true}
                reference: {type: string, nullable: true}
      responses:
        '201':
          description: Payment instruction created
        '400':
          description: Malformed currency, debtor IBAN, creditor account, or incomplete body
        '403':
          description: >-
            Caller may not debit this account — not the owner and no authorising delegation grant
            (indistinguishable from an expired grant, an over-ceiling amount, or an unknown
            account, by design), or SCA missing/rejected.

  /domestic-payments/{paymentId}:
    get:
      tags: [Payments]
      summary: Read the current status of one of the caller's own domestic payments (settlement-honest, ADR-0108)
      description: >-
        Proxies domestic-payment's status read so the app can distinguish "accepted/processing" from
        true settlement: the client polls this after a create returns merely accepted
        (RECEIVED/VALIDATED/SENT_TO_CLEARING) and only treats SETTLED as success — the money is then
        irrevocably in clearing / credited. Ownership is enforced here (the payment's debtorAccountId
        must belong to the JWT party); a malformed id, an upstream miss, and a payment owned by another
        party all collapse to an indistinguishable 404 so a caller cannot probe foreign payment ids.
      operationId: getDomesticPaymentStatus
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: paymentId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Current payment status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  status:
                    type: string
                    enum: [RECEIVED, VALIDATED, SENT_TO_CLEARING, SETTLED, REJECTED, RETURNED, CANCELLED]
        '404':
          description: Payment not found, or not owned by the caller (no existence oracle)

  /sepa-payments:
    post:
      tags: [Payments]
      summary: Initiate a SEPA credit transfer from one of the caller's own accounts (ownership-enforced; instruction only, no settlement)
      description: >-
        The client sends a lightweight body; the edge enriches it into the full SEPA instruction —
        the debtor IBAN is the account's own IBAN (SEPA is IBAN-native, no BBAN), the debtor legal
        name comes from party-service, and `type` defaults to SCT. The creditor IBAN passes through.
        Ownership is enforced (debtorAccountId must belong to the JWT party); an incomplete body
        (missing creditorIban / creditorName / amount) is rejected with 400. Initiation creates +
        screens only; money movement stays SCA-gated.
      operationId: createSepaPayment
      security:
        - customerOidc: [payments:initiate]
      parameters:
        - {name: Idempotency-Key, in: header, required: true, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [debtorAccountId, amount, creditorIban, creditorName]
              properties:
                debtorAccountId: {type: string, format: uuid}
                amount: {type: string, example: '120.00'}
                currency: {type: string, default: EUR}
                creditorIban: {type: string, example: 'DE89370400440532013000'}
                creditorName: {type: string}
                creditorBic: {type: string, nullable: true}
                reference: {type: string, nullable: true}
      responses:
        '201':
          description: SEPA payment instruction created
        '400':
          description: Incomplete body (need creditorIban, creditorName, amount) or unresolvable debtor
        '403':
          description: Debtor account does not belong to caller

  /sepa-payments/{paymentId}:
    get:
      tags: [Payments]
      summary: Read the current status of one of the caller's own SEPA payments (settlement-honest, ADR-0108)
      description: >-
        Proxies sepa-payment's status read so the app can distinguish "accepted/processing" from true
        settlement: the client polls this after a create returns merely accepted (RECEIVED/VALIDATED/
        PROCESSING) and only treats COMPLETED as success. Ownership is enforced here (the payment's
        debtorAccountId must belong to the JWT party); a malformed id, an upstream miss, and a payment
        owned by another party all collapse to an indistinguishable 404 (no existence oracle).
      operationId: getSepaPaymentStatus
      security:
        - customerOidc: [payments:read]
      parameters:
        - {name: paymentId, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Current payment status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: {type: string, format: uuid}
                  status:
                    type: string
                    enum: [RECEIVED, VALIDATED, PROCESSING, COMPLETED, REJECTED, RETURNED, CANCELLED]
        '404':
          description: Payment not found, or not owned by the caller (no existence oracle)

  /sca/parties/{partyId}/devices:
    post:
      tags: [SCA]
      summary: Enrol a device for SCA (ADR-0021)
      operationId: enrollDevice
      security:
        - customerOidc: [sca:enroll-device]
      parameters:
        - {name: partyId, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnrollDeviceRequest'
      responses:
        '201':
          description: Device enrolled
        '403':
          description: partyId does not match authenticated party

  /sca/challenges:
    post:
      tags: [SCA]
      summary: Initiate an SCA challenge (partyId injected from the JWT)
      operationId: initiateChallenge
      security:
        - customerOidc: [sca:decide]
      parameters:
        - {name: Idempotency-Key, in: header, required: false, schema: {type: string}}
      requestBody:
        required: true
        content:
          application/json: {schema: {type: object}}
      responses:
        '201':
          description: Challenge created

  /sca/challenges/{id}:
    get:
      tags: [SCA]
      summary: Get SCA challenge status
      operationId: getChallenge
      security:
        - customerOidc: [sca:decide]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: Challenge detail

  /sca/challenges/{id}/decision:
    post:
      tags: [SCA]
      summary: Record an out-of-band device decision (ADR-0021)
      operationId: recordDecision
      security:
        - customerOidc: [sca:decide]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordDecisionRequest'
      responses:
        '200':
          description: Decision recorded

  /devices:
    post:
      tags: [Devices]
      summary: Register this app instance's push token (FCM/APNs)
      description: >-
        Registers (upserts) the device's push token so the party can receive push
        notifications. partyId is taken from the JWT — not the body — to prevent IDOR.
      operationId: registerDevice
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '201':
          description: Device registered
        '400':
          description: Missing or invalid fields
    get:
      tags: [Devices]
      summary: List the authenticated customer's registered push devices
      description: Returns device metadata only — provider tokens are never returned.
      operationId: listDevices
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: Device list

  /documents:
    get:
      tags: [Documents]
      summary: List the authenticated customer's documents
      description: >-
        partyRef is taken from the JWT, never the query (IDOR). Object-store coordinates
        (storageKey, sha256) are stripped — use /documents/{id}/content to fetch the bytes.
      operationId: listDocuments
      security:
        - customerOidc: [accounts:read]
      responses:
        '200':
          description: The caller's documents, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: string, format: uuid }
                    templateCode: { type: string, example: RAMCOVA_SMLOUVA }
                    templateVersion: { type: string }
                    contentType: { type: string, example: application/pdf }
                    sizeBytes: { type: integer, format: int64 }
                    status: { type: string, enum: [GENERATED, PENDING_SIGNATURE, SIGNED, ARCHIVED] }
                    createdAt: { type: string, format: date-time }

  /documents/agreements:
    post:
      tags: [Documents]
      summary: Get-or-create the caller's onboarding framework agreement in a language (ADR-0169)
      description: >-
        Idempotent. partyRef is taken from the JWT, never the body (IDOR). The client only chooses
        the language; document-service renders the correct locale and opens the signing ceremony.
      operationId: ensureAgreement
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                lang:
                  type: string
                  enum: [cs, en]
                  default: cs
      responses:
        '200':
          description: The ceremony to sign + the rendered agreement it is scoped to

  /documents/{id}/content:
    get:
      tags: [Documents]
      summary: Stream a document's PDF bytes (owner only)
      operationId: getDocumentContent
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: PDF bytes
          content:
            application/pdf:
              schema: { type: string, format: binary }
        '404':
          description: Not found or not owned by the caller

  /signature-ceremonies/{id}:
    get:
      tags: [Documents]
      summary: A signature ceremony's status (signer only)
      operationId: getCeremony
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Ceremony detail
        '404':
          description: Not found or the caller is not a signer

  /signature-ceremonies/{id}/decisions:
    post:
      tags: [Documents]
      summary: Record the caller's signing decision (SCA-bound, ADR-0169)
      description: >-
        partyRef is forced to the JWT; evidenceRef (the SCA challenge id) is verified upstream by
        document-service against sca-service (ADR-0021).
      operationId: recordDecision
      security:
        - customerOidc: [accounts:read]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [SIGNED, DECLINED]
                evidenceRef:
                  type: string
                  description: SCA challenge id proving the signer's consent (required for SIGNED).
      responses:
        '200':
          description: Decision recorded
        '404':
          description: Not found or the caller is not a signer

  /onboarding/register:
    post:
      tags: [Onboarding]
      summary: Register a new party with identity resolution (ADR-0072 §6)
      description: >-
        Unauthenticated. Creates a PENDING_KYC party in party-service via the edge's
        M2M operator token, optionally running PID-based deduplication first (flag-gated).
        When the resolver returns MATCH_EXISTING the caller is linked to the existing
        golden-record party instead of creating a duplicate; the mobile client must
        refresh its token so the next JWT carries the correct party_id claim.
      operationId: registerParty
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterPartyRequest'
      responses:
        '201':
          description: New party created (NO_MATCH or flag off)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterPartyCreatedResponse'
        '200':
          description: Existing party matched — caller linked to golden-record party
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterPartyMatchedResponse'
        '202':
          description: Manual verification required (NEEDS_MANUAL_VERIFICATION)
        '502':
          description: party-service or pid-service unavailable

  /onboarding/events:
    post:
      tags: [Onboarding]
      summary: Record an onboarding-funnel telemetry event (ADR-0069 Phase 2)
      description: >-
        Unauthenticated, best-effort business telemetry. The app posts one event per meaningful
        onboarding transition (step viewed/completed, hold started/abandoned, KYC method chosen,
        signature attempt/success/failure) so the admin cockpit can measure conversion and drop-off —
        including the pre-session steps no domain event can see. Pseudonymous: `sessionId` is a
        client-generated onboarding id, never PII. `step` and `action` are validated against closed
        allow-lists; an unknown value is a 400 with no emission. Always 202 on a well-formed body.
      operationId: recordOnboardingFunnelEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingFunnelEvent'
      responses:
        '202':
          description: Event accepted (best-effort; never blocks onboarding)
        '400':
          description: Malformed body, bad sessionId, or unknown step/action
        '413':
          description: Request body too large

  /onboarding/start:
    post:
      tags: [Onboarding]
      summary: Start customer onboarding — create a party record (ADR-0069)
      description: >-
        Unauthenticated. Creates a PENDING_KYC party in party-service via the edge's
        M2M operator token. Returns the partyId; the Keycloak user is created in a
        separate step (Phase 1: operator via seed script; Phase 2: auto via this API).
        The party goes through KYC before an account can be opened (/onboarding/account).
      operationId: startOnboarding
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartOnboardingRequest'
      responses:
        '201':
          description: Party created, pending activation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartOnboardingResponse'
        '400':
          description: Missing required fields
        '502':
          description: party-service unavailable

  /onboarding/account:
    post:
      tags: [Onboarding]
      summary: Open the customer's first account after KYC approval (ADR-0069)
      description: >-
        Requires an authenticated ROLE_CUSTOMER JWT (passkey login after activation).
        Enforces the KYC gate: party must be ACTIVE (KYC approved) before an account
        is opened. partyId is taken from the JWT party_id claim — not from the request
        body — to prevent IDOR.
      operationId: openAccount
      security:
        - customerOidc: [accounts:read]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenAccountRequest'
      responses:
        '201':
          description: Account opened
        '422':
          description: KYC not approved — party status is not ACTIVE
        '404':
          description: Party not found

  /webauthn/register/begin:
    post:
      tags: [WebAuthn]
      summary: Begin native passkey enrollment (ADR-0066 F2)
      description: >-
        Not a Keycloak-authenticated route. Requires `Authorization: Bearer <enrollmentTicket>`
        (from /onboarding/start's response) instead — there is no Keycloak session yet for a
        brand-new party. Returns a WebAuthn registration challenge for
        `ASAuthorizationPlatformPublicKeyCredentialProvider`.
      operationId: webauthnRegisterBegin
      security: []
      responses:
        '200':
          description: Registration challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationChallenge'
        '401':
          description: Invalid or expired enrollment ticket

  /webauthn/register/complete:
    post:
      tags: [WebAuthn]
      summary: Complete native passkey enrollment (ADR-0066 F2)
      description: >-
        Same `Authorization: Bearer <enrollmentTicket>` requirement as /register/begin. Verifies
        the attestation (webauthn4j), stores the credential, and ensures a Keycloak user exists
        for the party — but does NOT itself return a session; call /auth/begin next.
      operationId: webauthnRegisterComplete
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrationCompleteRequest'
      responses:
        '204':
          description: Credential registered
        '400':
          description: Malformed request or attestation verification failed
        '401':
          description: Invalid or expired enrollment ticket

  /webauthn/auth/begin:
    post:
      tags: [WebAuthn]
      summary: Begin native passkey login (ADR-0066 F2)
      description: >-
        Fully unauthenticated — this is how a session is obtained. `allowCredentials` is always
        empty: the platform authenticator resolves any resident (discoverable) credential for
        this rpId, matching how the app calls `ASAuthorizationController` (no allow-list).
      operationId: webauthnAuthBegin
      security: []
      responses:
        '200':
          description: Authentication challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthenticationChallenge'

  /webauthn/auth/complete:
    post:
      tags: [WebAuthn]
      summary: Complete native passkey login (ADR-0066 F2)
      description: >-
        Fully unauthenticated. Verifies the assertion (webauthn4j) against the credential stored
        at enrollment, then mints a real session via Keycloak token-exchange
        (`WebAuthnKeycloakClient.impersonate`) scoped to the `openbank-app` audience.
      operationId: webauthnAuthComplete
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthCompleteRequest'
      responses:
        '200':
          description: Session tokens
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '400':
          description: Malformed request or unknown/expired challenge
        '401':
          description: Unknown credential or assertion verification failed

  # --- Cards (lifecycle) ---------------------------------------------------
  # PCI: every card read is masked-PAN only, with exactly one exception — POST /cards/{id}/details,
  # the SCA-gated reveal for a virtual/single-use card, which is returned no-store and never logged.
  # SCA (ADR-0021, challenge purpose CARD_MANAGEMENT) gates the actions that create risk: ISSUE,
  # CANCEL, REVEAL_DETAILS and a LIMIT INCREASE. Freeze/unfreeze/block/controls and a limit DECREASE
  # are reversible or strictly de-risking, so they carry no SCA friction.

  /cards:
    get:
      tags: [Cards]
      summary: List the caller's cards (masked PAN only)
      description: Party-scoped by the JWT — a caller can only ever see their own cards.
      operationId: listCards
      security:
        - customerOidc: [cards:read]
      responses:
        '200':
          description: The caller's cards
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'
    post:
      tags: [Cards]
      summary: Issue a VIRTUAL or SINGLE_USE card on one of the caller's own accounts (SCA-gated)
      description: >-
        The edge forces partyId from the JWT, verifies the account belongs to the caller, resolves the
        cardholder name from party-service and the product code from the account's product — the
        customer can never mint a card on someone else's account, under someone else's name, or
        against a product they do not hold. Plastic cards stay an operator flow.


        Idempotency is per card TYPE: a VIRTUAL issue uses a stable per-(party, account) key so a
        re-tap replays the same card, while a SINGLE_USE issue uses the caller's Idempotency-Key (or a
        generated one) — a stable key would make a second single-use card impossible.
      operationId: issueCard
      security:
        - customerOidc: [cards:create]
      parameters:
        - {name: X-SCA-Challenge-Id, in: header, required: true, schema: {type: string, format: uuid},
           description: 'An approved CARD_MANAGEMENT challenge with cardAction=ISSUE bound to the accountId'}
        - name: Idempotency-Key
          in: header
          required: false
          schema: {type: string}
          description: Honoured for SINGLE_USE; ignored for VIRTUAL (which uses a stable key).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [accountId]
              properties:
                accountId: {type: string, format: uuid}
                cardType: {type: string, enum: [VIRTUAL, SINGLE_USE], default: VIRTUAL}
      responses:
        '201':
          description: Card issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '400':
          description: Malformed body, accountId or cardType
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
              examples:
                cardType: {value: {error: 'cardType must be one of VIRTUAL, SINGLE_USE', code: CARD_TYPE_INVALID}}
                accountId: {value: {error: Missing or malformed accountId, code: CARD_ACCOUNT_INVALID}}
                body: {value: {error: Malformed request body, code: CARD_REQUEST_MALFORMED}}
        '403':
          description: Account not owned by the caller, or SCA missing/rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
        '409':
          description: >-
            Refused upstream by product-catalog entitlements — CARD_QUOTA_EXCEEDED,
            CARD_PRODUCT_DISABLED or CARD_NETWORK_NOT_ALLOWED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'

  /cards/entitlements:
    get:
      tags: [Cards]
      summary: What the caller may still issue — quota, remaining cards, allowed types and networks
      description: >-
        Drives the app's issue screen so an exhausted quota is greyed out rather than discovered as a
        409 on submit. The party comes from the JWT; the optional accountId is ownership-checked and
        resolved to the product code entitlements are keyed by. Read-only, no SCA.
      operationId: cardEntitlements
      security:
        - customerOidc: [cards:read]
      parameters:
        - {name: accountId, in: query, required: false, schema: {type: string, format: uuid}}
      responses:
        '200':
          description: The caller's card entitlements
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEntitlements'
        '400':
          description: Malformed accountId (CARD_ACCOUNT_INVALID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
        '403':
          description: Account does not belong to caller

  /cards/{id}/freeze:
    post:
      tags: [Cards]
      summary: Freeze (reversibly suspend) one of the caller's own cards
      operationId: freezeCard
      security:
        - customerOidc: [cards:update]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Card suspended}
        '403': {description: Card does not belong to caller}

  /cards/{id}/unfreeze:
    post:
      tags: [Cards]
      summary: Unfreeze (resume) one of the caller's own cards
      operationId: unfreezeCard
      security:
        - customerOidc: [cards:update]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Card resumed}
        '403': {description: Card does not belong to caller}

  /cards/{id}/block:
    post:
      tags: [Cards]
      summary: Permanently block one of the caller's own cards (report lost/stolen)
      description: >-
        TERMINAL — card-issuance moves the card to BLOCKED and it can never be resumed. The reason is
        fixed to LOST_OR_STOLEN, the only customer-initiated block reason. No SCA: blocking only ever
        removes capability, and demanding a device approval would be exactly the wrong friction for
        someone who has just lost their phone or card.
      operationId: blockCard
      security:
        - customerOidc: [cards:update]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Card blocked}
        '403': {description: Card does not belong to caller}

  /cards/{id}/cancel:
    post:
      tags: [Cards]
      summary: Permanently cancel one of the caller's own cards (SCA-gated)
      description: >-
        Terminal in card-issuance, and unlike a block it is a deliberate destroy rather than a panic
        action — so it requires a device-signed, card-bound CARD_MANAGEMENT approval
        (cardAction=CANCEL). Proxies upstream with X-Operator-Id customer:{partyId}.
      operationId: cancelCard
      security:
        - customerOidc: [cards:update]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: X-SCA-Challenge-Id, in: header, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Card cancelled}
        '403':
          description: Card does not belong to caller, or SCA missing/rejected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'

  /cards/{id}/details:
    post:
      tags: [Cards]
      summary: Reveal PAN / CVV / expiry of a virtual or single-use card (SCA-gated)
      description: >-
        The only route on which a full PAN crosses the edge. POST, not GET, because it spends a
        single-use SCA challenge and must never appear in a URL, browser history or access log. The
        response is returned `Cache-Control: no-store` + `Pragma: no-cache`, is never logged, and is
        audited by reference only (who / which card / when — never the value). A physical, blocked,
        cancelled or expired card is refused upstream and surfaces as CARD_DETAILS_UNAVAILABLE.
      operationId: revealCardDetails
      security:
        - customerOidc: [cards:read]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: X-SCA-Challenge-Id, in: header, required: true, schema: {type: string, format: uuid},
           description: 'An approved CARD_MANAGEMENT challenge with cardAction=REVEAL_DETAILS bound to this card'}
      responses:
        '200':
          description: The card's secure details (uncacheable)
          headers:
            Cache-Control: {schema: {type: string, enum: [no-store]}}
            Pragma: {schema: {type: string, enum: [no-cache]}}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecureDetails'
        '403':
          description: >-
            Card does not belong to caller, SCA missing/rejected (SCA_REQUIRED / SCA_REJECTED), or the
            card is not eligible for a reveal (CARD_DETAILS_UNAVAILABLE).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'

  /cards/{id}/limits:
    put:
      tags: [Cards]
      summary: Set daily/monthly spending limits (SCA-gated only when a limit is RAISED)
      description: >-
        The body is parsed and validated at the edge — both fields required, integral, non-negative
        and daily <= monthly. The edge reads the card's current limits first: raising either one
        widens the blast radius of a stolen session and requires a device-signed CARD_MANAGEMENT
        approval (cardAction=LIMIT_INCREASE); leaving them or lowering them strictly reduces risk and
        is allowed with no SCA at all. The X-SCA-Challenge-Id header is therefore optional — a missing
        header on an increase is answered 403 SCA_REQUIRED (so the app can raise a challenge and
        retry), never 400. Unresolvable current limits are treated as an increase (fail closed).
      operationId: updateCardLimits
      security:
        - customerOidc: [cards:update]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
        - name: X-SCA-Challenge-Id
          in: header
          required: false
          schema: {type: string, format: uuid}
          description: Required only when either limit is higher than the card's current value.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardLimits'
      responses:
        '200': {description: Limits updated}
        '400':
          description: Missing, negative, non-integral, or daily > monthly (CARD_LIMITS_INVALID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
        '403':
          description: Card does not belong to caller, or an increase without a valid SCA challenge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'

  /cards/{id}/controls:
    put:
      tags: [Cards]
      summary: Set the four channel controls on one of the caller's own cards
      description: >-
        All four booleans are required and validated at the edge. Deliberately NOT SCA-gated: each
        toggle is reversible at any time and can only narrow or restore what the card may do — no
        money moves and no limit widens beyond what /limits already governs.
      operationId: updateCardControls
      security:
        - customerOidc: [cards:update]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardControls'
      responses:
        '200': {description: Controls updated}
        '400':
          description: A toggle is missing or not a boolean (CARD_CONTROLS_INVALID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardError'
        '403': {description: Card does not belong to caller}


  /delegations:
    post:
      tags: [Delegation]
      summary: Offer a delegated-access grant over one of the caller's own resources
      description: >-
        ADR-0232 D6. SCA-bound (purpose DELEGATION_GRANT, single-use challenge). grantorPartyId is
        FORCED to the authenticated party: a body naming a different grantor is rejected with 403
        rather than rewritten, because silently issuing a grant the user did not ask for is worse
        than failing a client bug loudly. Everything else is passed through — delegation-service
        owns capability validation and verifies that the grantor actually owns the resource.


        NOT SUPPORTED: dailyLimit and monthlyLimit. Cumulative ceilings are described by ADR-0232
        D1/D6 but no service counts spend against a grant, so a body carrying either is rejected
        with 400 CUMULATIVE_LIMIT_UNSUPPORTED rather than stored as a cap that never applies.
        perTransactionLimit is the only limit this platform enforces.
      operationId: offerDelegation
      security:
        - customerOidc: [delegations:write]
      responses:
        '201': {description: Grant offered}
        '400':
          description: >-
            Body is not a JSON object, upstream validation failed, or the body carries
            dailyLimit/monthlyLimit (response `code: CUMULATIVE_LIMIT_UNSUPPORTED`).
        '403': {description: grantorPartyId is not the authenticated party, or resource not owned}

  /delegations/shared-by-me:
    get:
      tags: [Delegation]
      summary: Grants the caller has issued
      description: >-
        Party-scoped server-side from the token; the caller cannot ask about another party. Includes
        every lifecycle state, so the UI can show pending offers alongside active grants.
      operationId: listDelegationsSharedByMe
      security:
        - customerOidc: [delegations:read]
      responses:
        '200': {description: Grants issued by the caller}

  /delegations/shared-with-me:
    get:
      tags: [Delegation]
      summary: Grants the caller has received, including offers awaiting a response
      operationId: listDelegationsSharedWithMe
      security:
        - customerOidc: [delegations:read]
      responses:
        '200': {description: Grants received by the caller}

  /delegations/activity:
    get:
      tags: [Delegation]
      summary: What the caller's delegates actually did on their behalf (ADR-0232 D5)
      description: >-
        The data behind "what did they do with my account". Returns every audited action taken
        under a grant the CALLER issued, newest first, sourced from audit-service's tamper-evident
        chain — a grant records what someone MAY do, this records what they DID.


        Distinct from `/privacy/access-log`: on a delegated action the grantor is neither the actor
        nor the aggregate, so that view contains none of these rows. The grantor is taken from the
        token and cannot be chosen by the client; the optional filters only ever narrow a set
        already scoped to the caller, so a guessed value returns an empty list.


        Declared before `/delegations/{id}` — JAX-RS prefers the literal segment, so the two do not
        collide.
      operationId: listDelegatedActivity
      security:
        - customerOidc: [delegations:read]
      parameters:
        - {name: delegatePartyId, in: query, required: false, schema: {type: string, format: uuid}, description: Narrow to one delegate}
        - {name: delegationId, in: query, required: false, schema: {type: string, format: uuid}, description: Narrow to one grant}
        - {name: limit, in: query, required: false, schema: {type: integer, default: 100, maximum: 500}}
      responses:
        '200':
          description: Delegated actions taken on the caller's behalf, newest first
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    entryId: {type: string, format: uuid, description: 'Audit chain entry; verifiable via audit-service /integrity?fromEventId='}
                    eventType: {type: string}
                    operation: {type: string, nullable: true, example: payments.domestic}
                    delegatePartyId: {type: string, nullable: true, description: Who acted — the delegate, never the grantor}
                    delegationId: {type: string, nullable: true, description: The grant that permitted it}
                    resourceType: {type: string}
                    sourceService: {type: string}
                    occurredAt: {type: string, format: date-time}

  /delegations/{id}:
    get:
      tags: [Delegation]
      summary: One grant the caller is a party to
      description: >-
        404 when the caller is neither grantor nor grantee — deliberately not 403, so a guessed id
        is not an existence oracle.
      operationId: getDelegation
      security:
        - customerOidc: [delegations:read]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Grant detail}
        '404': {description: No such grant, or the caller is not a party to it}
    delete:
      tags: [Delegation]
      summary: Revoke a grant the caller issued — unilateral and instant
      description: >-
        The actor is DERIVED from the authenticated party, never sent by the client: the upstream
        query parameter that still exists is the bank-initiated path and is role-gated. No SCA —
        withdrawing access must never be harder than granting it.
      operationId: revokeDelegation
      security:
        - customerOidc: [delegations:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: reason, in: query, required: false, schema: {type: string}}
      responses:
        '200': {description: Grant revoked}
        '403': {description: Caller is not the grantor}

  /delegations/{id}/accept:
    post:
      tags: [Delegation]
      summary: Accept an offered grant (grantee's own SCA)
      description: >-
        granteePartyId is the authenticated party, so a caller can only accept an offer addressed to
        themselves. scaSessionId is the grantee's OWN challenge (purpose DELEGATION_ACCEPT) — the
        grantor's ceremony does not carry over.
      operationId: acceptDelegation
      security:
        - customerOidc: [delegations:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
        - {name: scaSessionId, in: query, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Grant accepted and now ACTIVE}
        '400': {description: scaSessionId missing}
        '403': {description: Offer is not addressed to the caller, or SCA invalid}

  /delegations/{id}/decline:
    post:
      tags: [Delegation]
      summary: Decline an offered grant
      description: No SCA — refusing access never needs a step-up.
      operationId: declineDelegation
      security:
        - customerOidc: [delegations:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Offer declined}
        '403': {description: Offer is not addressed to the caller}

  /delegations/{id}/renounce:
    post:
      tags: [Delegation]
      summary: Give back an active grant the caller holds
      operationId: renounceDelegation
      security:
        - customerOidc: [delegations:write]
      parameters:
        - {name: id, in: path, required: true, schema: {type: string, format: uuid}}
      responses:
        '200': {description: Grant renounced}
        '403': {description: Caller is not the grantee}

components:
  securitySchemes:
    customerOidc:
      type: openIdConnect
      openIdConnectUrl: https://kc.open-bank.tech/realms/openbank-customers/.well-known/openid-configuration

  schemas:
    # --- Read-endpoint response schemas (issue #1773) ---
    # customer-edge is a raw BFF proxy: each read endpoint returns the upstream service's
    # response body verbatim, so these schemas mirror the upstream DTOs inline (no cross-file
    # $ref). Kept field-for-field in step with the upstream openapi.yaml they mirror.

    # Mirrors openbank-app shared ThemeSpec (ADR-0190). Forward-tolerant on both
    # sides: unknown fields are ignored by the app decoder, and the edge stores the
    # document verbatim after a shape check.
    ThemeSpec:
      type: object
      properties:
        version:
          type: integer
        name:
          type: string
        emoji:
          type: string
        accentH:
          type: number
          format: float
        accentS:
          type: number
          format: float
        accentL:
          type: number
          format: float
        accentName:
          type: string
        mode:
          type: string
          enum: [light, dark, auto]
        radiusScale:
          type: number
          format: float
        compact:
          type: boolean
        reducedMotion:
          type: boolean
        fontPair:
          type: string
        fontScale:
          type: number
          format: float
        surfaceTint:
          type: number
          format: float
        decor:
          type: string
        promptHash:
          type: string

    Pagination:
      type: object
      description: Cursor pagination envelope shared by the account and transaction list pages.
      properties:
        limit:
          type: integer
        hasNextPage:
          type: boolean
        nextCursor:
          type: string
          nullable: true
        previousCursor:
          type: string
          nullable: true
        totalCount:
          type: integer
          nullable: true

    DirectoryLookupRequest:
      type: object
      properties:
        phoneHashes:
          type: array
          description: Lowercase hex SHA-256 of each phone number in E.164 form.
          items:
            type: string
    DirectoryLookupResponse:
      type: object
      properties:
        matches:
          type: array
          items:
            $ref: '#/components/schemas/DirectoryMatch'
    DirectoryMatch:
      type: object
      description: >
        A hash that belongs to a discoverable party. Carries the party id and legal name only —
        nothing else about the payee is the caller's to learn from a lookup.
      properties:
        phoneHash:
          type: string
        partyId:
          type: string
          format: uuid
        legalName:
          type: string
    DiscoverableRequest:
      type: object
      properties:
        discoverable:
          type: boolean
    DirectoryPayeeRequest:
      type: object
      required: [phoneHash]
      properties:
        phoneHash:
          type: string
          pattern: '^[0-9a-f]{64}$'
          description: Lowercase hex SHA-256 of an E.164 number the caller already holds.
    DirectoryPayeeResponse:
      type: object
      description: >
        Everything a payer is told about the payee. Deliberately no account number and no party
        id — the token is the only handle, and only the edge can resolve it.
      properties:
        paymentSessionToken:
          type: string
          description: Opaque, single-payee, short-lived. Pass as paymentSessionToken on POST /domestic-payments.
        displayName:
          type: string
          description: The payee's legal name, as the bank holds it.
        creditorMasked:
          type: string
          description: Country code + last four ("CZ…5399"). The only account form a payer ever sees.
        expiresInSeconds:
          type: integer
    AccessLogEntry:
      type: object
      description: One audit event whose aggregate is the caller's party (metadata only,
        no event payload — audit-service's customer-facing privacy projection).
      properties:
        eventType: {type: string}
        aggregateType: {type: string}
        actorType: {type: string, nullable: true}
        sourceService: {type: string}
        occurredAt: {type: string, format: date-time}

    # Mirrors openbank-account-service AccountResponse.
    Account:
      type: object
      properties:
        id:
          type: string
          format: uuid
        accountNumber:
          type: string
        accountType:
          type: string
        partyId:
          type: string
          format: uuid
        productId:
          type: string
        currencyCode:
          type: string
        status:
          type: string
          enum: [ACTIVE, FROZEN, CLOSED, PENDING]
        openedAt:
          type: string
          format: date-time
        closedAt:
          type: string
          format: date-time
          nullable: true
        goalName:
          type: string
          nullable: true
        goalTargetMinorUnits:
          type: integer
          format: int64
          nullable: true
        goalTargetDate:
          type: string
          format: date
          nullable: true

    # Mirrors openbank-account-service AccountPage (GET /api/v1/accounts is cursor-paginated,
    # not a bare array).
    AccountList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Account'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # Mirrors openbank-balance-service BalanceResponse. GET /api/v1/balances/{accountId} returns
    # one entry per currency held on the account (an array), not a single balance.
    Balance:
      type: object
      properties:
        accountId:
          type: string
          format: uuid
        currency:
          type: string
        bookedAmount:
          type: number
        availableAmount:
          type: number
        reservedAmount:
          type: number
        pendingAmount:
          type: number
        arrangedOverdraftLimit:
          type: number
        updatedAt:
          type: string
          format: date-time

    # Mirrors openbank-transaction-service TransactionResponse.
    Transaction:
      type: object
      properties:
        id:
          type: string
          format: uuid
        referenceNumber:
          type: string
        type:
          type: string
        sourceAccountId:
          type: string
          format: uuid
          nullable: true
        targetAccountId:
          type: string
          format: uuid
          nullable: true
        amount:
          type: number
        currencyCode:
          type: string
        status:
          type: string
        description:
          type: string
          nullable: true
        valueDate:
          type: string
          format: date
        bookingDate:
          type: string
          format: date
        initiatedAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
          nullable: true
        rail:
          type: string
          nullable: true
          description: >-
            Which scheme carried the money (ADR-0103). One of the PaymentRail enum values
            (SEPA_CT, SEPA_INST, SWIFT, DOMESTIC, CARD, INTERNAL, CASH, FEE, INTEREST, UNKNOWN).
            Null on legacy rows not yet stamped.
        instructionType:
          type: string
          nullable: true
          description: >-
            How the movement was instructed (ADR-0103) — orthogonal to rail. One of the
            InstructionType enum values (ONE_OFF, STANDING_ORDER, DIRECT_DEBIT, FUTURE_DATED,
            SYSTEM, UNKNOWN). Null on legacy rows not yet stamped.
        counterpartyIban:
          type: string
          description: >
            IBAN of the other side of this transaction, resolved from its account id. Absent —
            not empty — when it cannot be resolved: a counterparty at another bank has no account
            here, and an account the caller may not read stays unreadable. Absent means "we could
            not say", so a client must not render or pre-fill anything from it. Czech clients
            should display and pre-fill the BBAN form (prefix-number/bankcode) derived from this;
            the IBAN is carried because it converts to BBAN without loss and back only with it.
        merchantCategory:
          type: string
          nullable: true
          description: MCC-derived merchant category for card spend (ADR-0103).

    # Mirrors openbank-transaction-service TransactionPage (GET /api/v1/transactions is
    # cursor-paginated, not a bare array).
    TransactionList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # Mirrors openbank-statement-service StatementPeriod. GET /api/v1/statements/{accountId}
    # returns the retained period-close records as an array.
    Statement:
      type: object
      description: >-
        The retained period-close record (ADR-0035 §F). The only persisted statement artefact —
        no rendered bytes are stored.
      properties:
        id:
          type: string
          format: uuid
        accountId:
          type: string
          format: uuid
        pocketCurrency:
          type: string
          minLength: 3
          maxLength: 3
        periodFrom:
          type: string
          format: date
        periodTo:
          type: string
          format: date
        legalSequenceNumber:
          type: integer
          format: int64
        electronicSequenceNumber:
          type: integer
          format: int64
        openingBalance:
          type: number
        closingBalance:
          type: number
        entryCount:
          type: integer
        status:
          type: string
          enum: [CLOSED, SUPERSEDED]
        supersedesSequence:
          type: integer
          format: int64
          nullable: true
        closedAt:
          type: string
          format: date-time

    # Mirrors the projection returned by openbank-party-service GET /api/v1/parties/{id}
    # (PartyResource.Party.toResponse()). party-service does not declare a response schema for
    # this endpoint, so the fields below are copied from that mapper and the Party domain model.
    Profile:
      type: object
      properties:
        id:
          type: string
          format: uuid
        partyType:
          type: string
          enum: [INDIVIDUAL, SOLE_TRADER, COMPANY, TRUST]
        status:
          type: string
          enum: [PENDING_KYC, ACTIVE, SUSPENDED, CLOSED, MERGED]
        legalName:
          type: string
        tradingName:
          type: string
          nullable: true
        email:
          type: string
          format: email
        phone:
          type: string
          nullable: true
        kycStatus:
          type: string
          enum: [NOT_STARTED, IN_PROGRESS, APPROVED, REJECTED, EXPIRED]
        address:
          $ref: '#/components/schemas/ProfileAddress'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        consentGdpr:
          type: boolean
          nullable: true
          description: Onboarding-time GDPR consent snapshot (informational, non-revocable).
        consentCapturedAt:
          type: string
          format: date-time
          nullable: true
        consentMarketing:
          type: boolean
          nullable: true
          description: Live, revocable marketing-communications preference.
        consentMarketingUpdatedAt:
          type: string
          format: date-time
          nullable: true
        mergedIntoPartyId:
          type: string
          format: uuid
          nullable: true
          description: >-
            ADR-0179: the surviving party this one was merged into. Non-null only on a MERGED
            party — tells a consumer holding a stale id which party to follow instead.

    # Mirrors openbank-party-service Address (nested under Profile.address).
    ProfileAddress:
      type: object
      nullable: true
      properties:
        line1:
          type: string
        line2:
          type: string
          nullable: true
        city:
          type: string
        postalCode:
          type: string
        countryCode:
          type: string

    BankDto:
      type: object
      required: [code, name]
      properties:
        code:
          type: string
          pattern: '^\d{4}$'
          description: 4-digit Czech bank routing code (e.g. "0100" for Komerční banka)
        name:
          type: string
          description: Official bank name as published by CNB
        bic:
          type: string
          nullable: true
          description: BIC/SWIFT code (null when not assigned or not yet in CNB data)

    FxRate:
      type: object
      required: [base, quote, rate]
      properties:
        base: {type: string, description: ISO-4217 base currency, e.g. EUR}
        quote: {type: string, description: ISO-4217 quote currency, e.g. CZK}
        rate: {type: string, description: Mid-price (bid+ask)/2 as a decimal string}
        bid: {type: string, description: Bid (bank buys base) — rate-sheet only}
        ask: {type: string, description: Ask (bank sells base) — rate-sheet only}
        timestamp: {type: string, format: date-time, description: validFrom of the upstream rate}
        refMid: {type: string, description: ČNB central-bank fixing mid for this pair (absent when no CNB rate ingested yet)}
        spreadPct: {type: string, description: "(ask − refMid) / refMid × 100, 2 d.p. — how much the bank's sell price exceeds the CNB reference"}

    EnrollDeviceRequest:
      type: object
      required: [credentialId, publicKey, algorithm]
      properties:
        credentialId: {type: string}
        publicKey: {type: string, description: Base64 X.509 SPKI}
        algorithm: {type: string, enum: [ES256, ED25519]}

    RegisterDeviceRequest:
      type: object
      required: [platform, token, appInstance]
      properties:
        platform: {type: string, enum: [FCM, APNS]}
        token: {type: string, description: Provider-issued push token (FCM registration / APNs device token)}
        appInstance: {type: string, description: Stable per-install identifier}
        appVersion: {type: string}
        osVersion: {type: string}

    RecordDecisionRequest:
      type: object
      required: [credentialId, decision, signature]
      properties:
        credentialId: {type: string}
        decision: {type: string, enum: [APPROVED, DENIED]}
        signature: {type: string, description: Base64 signature over dynamic-linking payload}

    StartOnboardingRequest:
      type: object
      required: [partyType, legalName]
      properties:
        partyType:
          type: string
          enum: [INDIVIDUAL, LEGAL_ENTITY, SOLE_TRADER]
        legalName:
          type: string
          example: Jana Nováková
        email:
          type: string
          format: email

    FeedbackSubmission:
      type: object
      required: [screenId, category]
      description: >-
        `comment` and `screenshotPngBase64` are individually optional but at least one must be
        present — an empty submission carries no signal.
      properties:
        screenId:
          type: string
          maxLength: 64
          pattern: '^[A-Za-z0-9._/-]{1,64}$'
          description: Nav route the feedback is about (e.g. `home`, `payments/new`), not free text.
          example: payments/new
        category:
          type: string
          enum: [BUG, IDEA, CONFUSING]
        comment:
          type: string
          maxLength: 2000
          description: Free-text user comment. Personal data — retained per the ADR-0192 GDPR terms.
        platform:
          type: string
          enum: [ios, android]
        appVersion:
          type: string
          maxLength: 32
        osVersion:
          type: string
          maxLength: 32
          description: Coarse OS release the report was filed on, e.g. `iOS 17.5`, `Android 14`.
          example: iOS 17.5
        locale:
          type: string
          maxLength: 32
          description: UI language the screen was rendered in, e.g. `cs`, `en`.
          example: cs
        theme:
          type: string
          maxLength: 32
          description: >-
            Active app theme (ADR-0191), e.g. `green-dark`. The same screen renders differently
            per theme, so a rendering complaint is not reproducible without it.
          example: green-dark
        sessionId:
          type: string
          maxLength: 32
          description: >-
            Client-generated pseudonymous session id (never PII) — correlates this report with
            the session's RUM/trace data.
        screenshotPngBase64:
          type: string
          format: byte
          description: >-
            Optional base64 PNG, max 2 MB decoded. Validated by PNG signature, not by field name.
            Stored in object storage (SSE, 90-day lifecycle); only its key travels onward.

    FeedbackAccepted:
      type: object
      required: [reference]
      properties:
        reference:
          type: string
          description: Support-quotable handle for this submission.
          example: FB-3F9A21C0B7D4

    OnboardingFunnelEvent:
      type: object
      required: [sessionId, step, action]
      properties:
        sessionId:
          type: string
          format: uuid
          description: Client-generated pseudonymous onboarding-attempt id (never PII).
        step:
          type: string
          enum: [WELCOME, IDENTITY, EMAIL, AGREEMENT, PASSKEY, SIGN]
        action:
          type: string
          enum: [STEP_VIEWED, STEP_COMPLETED, HOLD_STARTED, HOLD_ABANDONED, KYC_METHOD_CHOSEN, SIGN_ATTEMPT, SIGN_SUCCESS, SIGN_FAIL]
        kycMethod:
          type: string
          description: Optional — which identity method the user chose (e.g. BANKID, SCAN, BOT, SKIP).
        reason:
          type: string
          description: Optional — short machine reason for a failure/abandon (e.g. sign-fail code).
        platform:
          type: string
          enum: [ios, android]
        appVersion:
          type: string

    StartOnboardingResponse:
      type: object
      required: [partyId, status]
      properties:
        partyId:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING_ACTIVATION]
        enrollmentTicket:
          type: string
          description: >-
            Short-lived HMAC-signed ticket (ADR-0066 F2). Present it as
            `Authorization: Bearer <enrollmentTicket>` to /webauthn/register/begin and
            /webauthn/register/complete to enrol a native passkey for this party before any
            Keycloak session exists. Expires in 10 minutes.

    RegistrationChallenge:
      type: object
      required: [challenge, rpId, userId, userName, displayName]
      properties:
        challenge:
          type: string
          description: base64url-encoded random bytes
        rpId:
          type: string
          example: open-bank.tech
        userId:
          type: string
          description: base64url-encoded random bytes
        userName:
          type: string
        displayName:
          type: string

    RegistrationCompleteRequest:
      type: object
      required: [credential_id, attestation_object, client_data_json]
      properties:
        credential_id:
          type: string
          description: base64url
        attestation_object:
          type: string
          description: base64url
        client_data_json:
          type: string
          description: base64url

    AuthenticationChallenge:
      type: object
      required: [challenge, rpId]
      properties:
        challenge:
          type: string
          description: base64url-encoded random bytes
        rpId:
          type: string
          example: open-bank.tech
        allowCredentials:
          type: array
          items:
            type: string
          description: Always empty — discoverable-credential (resident key) flow.

    AuthCompleteRequest:
      type: object
      required: [credential_id, authenticator_data, client_data_json, signature, user_handle]
      properties:
        credential_id:
          type: string
          description: base64url
        authenticator_data:
          type: string
          description: base64url
        client_data_json:
          type: string
          description: base64url
        signature:
          type: string
          description: base64url
        user_handle:
          type: string
          description: base64url

    TokenPair:
      type: object
      required: [access_token]
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        device_session_id:
          type: string
          description: >-
            Opaque device-session id (ADR-0066 F2). The passkey-exchange refresh_token is not
            refreshable by openbank-app, so the app resumes via /webauthn/session/refresh with
            this id. Emitted by the passkey register/authenticate completion; absent otherwise.

    RegisterPartyRequest:
      type: object
      required: [legalName]
      properties:
        legalName:
          type: string
          example: Jana Nováková
        email:
          type: string
          format: email
        dateOfBirth:
          type: string
          format: date
          description: Required for PID-based deduplication (ADR-0072)

    RegisterPartyCreatedResponse:
      type: object
      required: [id, status]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [PENDING_KYC]

    RegisterPartyMatchedResponse:
      type: object
      required: [partyId, status, requireTokenRefresh]
      properties:
        partyId:
          type: string
          format: uuid
          description: UUID of the existing golden-record party the caller was linked to
        status:
          type: string
          enum: [MATCHED_EXISTING]
        requireTokenRefresh:
          type: boolean
          description: >-
            Always true on MATCHED_EXISTING — the mobile client must re-authenticate
            so the next JWT carries the correct party_id claim (set via Keycloak
            user-attribute mapper by the edge's admin client, PR3 / issue #1270).

    OpenAccountRequest:
      type: object
      required: [productId, accountType, currencyCode]
      properties:
        productId:
          type: string
          format: uuid
          description: Product catalogue ID for the account product
        accountType:
          type: string
          enum: [CURRENT, SAVINGS]
        currencyCode:
          type: string
          example: EUR

    # --- Cards ---
    # Mirrors openbank-card-issuance-service CardResponse (masked PAN only).
    Card:
      type: object
      properties:
        id: {type: string, format: uuid}
        partyId: {type: string, format: uuid}
        accountId: {type: string, format: uuid}
        productCode: {type: string, example: CURRENT_CZK}
        cardType: {type: string, enum: [VIRTUAL, SINGLE_USE, PHYSICAL]}
        network: {type: string, enum: [VISA, MASTERCARD]}
        maskedPan: {type: string, example: '**** **** **** 4242'}
        cardholderName: {type: string}
        embossedName: {type: string}
        expiryDate: {type: string, format: date}
        status: {type: string, enum: [REQUESTED, ISSUED, ACTIVE, SUSPENDED, BLOCKED, CANCELLED, EXPIRED]}
        dailyLimitMinorUnits: {type: integer, format: int64}
        monthlyLimitMinorUnits: {type: integer, format: int64}
        currency: {type: string, example: CZK}
        activatedAt: {type: string, format: date-time, nullable: true}
        blockedAt: {type: string, format: date-time, nullable: true}
        blockedReason: {type: string, nullable: true}
        createdAt: {type: string, format: date-time}
        updatedAt: {type: string, format: date-time}
        contactlessEnabled: {type: boolean}
        onlineEnabled: {type: boolean}
        atmEnabled: {type: boolean}
        abroadEnabled: {type: boolean}

    # The ONLY payload on which a full PAN/CVV crosses the edge (POST /cards/{id}/details).
    # Returned no-store; never logged, never cached, never audited by value.
    CardSecureDetails:
      type: object
      properties:
        pan: {type: string, description: Full primary account number — treat as PCI cardholder data}
        cvv: {type: string}
        expiryDate: {type: string, example: 12/29}
        cardholderName: {type: string}
        network: {type: string, enum: [VISA, MASTERCARD]}

    CardLimits:
      type: object
      required: [dailyLimitMinorUnits, monthlyLimitMinorUnits]
      properties:
        dailyLimitMinorUnits: {type: integer, format: int64, minimum: 0}
        monthlyLimitMinorUnits: {type: integer, format: int64, minimum: 0}
      description: Both required and non-negative; dailyLimitMinorUnits must not exceed monthlyLimitMinorUnits.

    CardControls:
      type: object
      required: [contactlessEnabled, onlineEnabled, atmEnabled, abroadEnabled]
      properties:
        contactlessEnabled: {type: boolean}
        onlineEnabled: {type: boolean}
        atmEnabled: {type: boolean}
        abroadEnabled: {type: boolean}

    # Mirrors card-issuance GET /api/v1/cards/party/{partyId}/entitlements.
    CardEntitlements:
      type: object
      properties:
        productCode: {type: string}
        maxCards: {type: integer}
        issued: {type: integer}
        remaining: {type: integer}
        virtualCardAllowed: {type: boolean}
        singleUseAllowed: {type: boolean}
        networks:
          type: array
          items: {type: string}
        tiers:
          type: array
          items: {type: string}
        monthlyFeePerCard: {type: string, nullable: true}
        enabled: {type: boolean}
        source:
          type: string
          enum: [CATALOG, FALLBACK]
          description: CATALOG when product-catalog answered; FALLBACK when the service used its defaults.

    CardError:
      type: object
      description: Machine-readable edge error. Clients branch on `code`, never on `error` prose.
      properties:
        error: {type: string}
        code:
          type: string
          enum:
            - CARD_REQUEST_MALFORMED
            - CARD_ACCOUNT_INVALID
            - CARD_TYPE_INVALID
            - CARD_LIMITS_INVALID
            - CARD_CONTROLS_INVALID
            - CARD_DETAILS_UNAVAILABLE
            - CARD_QUOTA_EXCEEDED
            - CARD_PRODUCT_DISABLED
            - CARD_NETWORK_NOT_ALLOWED
            - SCA_REQUIRED
            - SCA_REJECTED
